[2017-06-27 20:56] sanjogs opened #195 "possible issue in documentation showing how to register custom scheme for Android"
# CustomURLSchemeInterceptor documentation Issue
Using code from following section of the documentation did not produce expected behavior
https://github.com/xamarin/Xamarin.Auth#code

Changing LaunchMode to **LaunchMode.SingleTask** instead of  LaunchMode.SingleTop produced the expected behavior for me.

Tried on Android 5.1.1

### Expected behaviour
Custom Tabs should close (UI should return back

[2017-06-28 21:11] SergeyOrlovXIM opened #196 "More than 1000 errors at opening sln... Nuget may not restore... Big piece of shit"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version =
- [ ] component version =
- [ ] sample

### Steps to reproduce

1.
2.
3.

Platform:

-	[] .NET version =
-	[] mono version =

### Expected behaviour

Tell us what should happen

### Actual behaviour

Tell us what happens instead
Can you also include a screen shot?

*IF IT IS A NEW FEATURE REQUEST, INCLUDE THIS P

[2017-06-28 22:11] biapar commented on #167
I've the same problem!

[2017-06-28 22:28] biapar commented on #185
I've the same problem and I blocked to release the apk.
The error is:
ion: error XA2006: Could not resolve reference to 'Android.Support.CustomTabs.CustomTabsClient/ExtraCallbackDelegate' (defined in assembly 'Xamarin.Auth, Version=1.3.0.0, Culture=neutral, PublicKeyToken=null') with scope 'Xamarin.Android.Support.CustomTabs, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'. When the scope i

[2017-06-28 22:35] biapar opened #197 "error XA2006: Could not resolve reference to 'System.Void Android.Support.CustomTabs.CustomTabsIntent::LaunchUrl(Android.Content.Context,Android.Net.Uri)'"
I've this error on Android release mode after update to last Xamarin.Auth version

Java.Interop.Tools.Diagnostics.XamarinAndroidException: error XA2006: Could not resolve reference to 'System.Void Android.Support.CustomTabs.CustomTabsIntent::LaunchUrl(Android.Content.Context,Android.Net.Uri)' (defined in assembly 'Xamarin.Auth, Version=1.5.0.0, Culture=neutral, PublicKeyToken=null') with scope 'Xa

[2017-06-29 05:35] biapar commented on #197
I tried to install the CustomTabs 25.3.1 as you linked in your project, but this is the error:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'Xamarin.Android.Support.CustomTabs 25.3.1'. You are trying to install this package into a project that targets 'MonoAndroid,Version=v6.0', but the package does not contain any assembly references or content f

[2017-06-29 05:41] biapar commented on #185
@robintschroeder Which Xamarin Forms and Support libs version do you have?

[2017-06-29 09:57] jenart commented on #185
@biapar update all your Xamarin.Android libraries to the latest v25.3.1 to match what is in the current Xamarin.Auth-master source.

Here is a working Android sample project: https://www.dropbox.com/s/gffs7uvj1xqp0zr/XamarinAuthTest.zip?dl=0

* See Xamarin.Auth-master\source\XamarinForms\Xamarin.Auth.Forms.Droid\packages.config

`<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mic

[2017-06-29 10:50] biapar opened #198 "Nuget Xamarin.Auth v.1.4.x not more available"
Nuget Xamarin.Auth v.1.4.x not more available

[2017-06-29 10:51] biapar opened #199 "What is the nuget Xamarin.Auth.XamarinForms package?"
What is the nuget Xamarin.Auth.XamarinForms package?

[2017-06-29 13:08] xrkolovos opened #200 "Implement log out/sing off"
OAuthLoginPresenter should have a method to log out/sing off.

The user is still sing in the authority. OidcClient has a method to logout.
https://github.com/IdentityModel/IdentityModel.OidcClient/blob/73a56fdef54009ed471445079ef2fdeb6e4159ea/src/Shared/OidcClient.cs

That is a security issue as said in #113

[2017-06-29 13:44] biapar commented on #185
So I need install Android 7 SDK?
I've now the v6.
Have you installed Xamarin.Auth.Forms or Xamarin.Auth?

[2017-06-29 14:24] robintschroeder commented on #185
@biapar

Microsoft Visual Studio Enterprise 2017
Version 15.2 (26430.14) Release
VisualStudio.15.Release/15.2.0+26430.14
Microsoft .NET Framework
Version 4.6.01586

Mono Debugging for Visual Studio   Mono.Debugging.VisualStudio
Support for debugging Mono processes with Visual Studio.

Xamarin   4.5.0.486 (fec6f88)
Visual Studio extension to enable development for Xamarin.iOS and Xamarin.Android.

[2017-06-29 14:26] robintschroeder commented on #185
@biapar
Xamarin.Forms v2.3.4.247
Xamarin.Auth v1.5.0.3
Xamarin.Build.Download v0.4.5

[2017-06-30 05:41] jenart commented on #199
Have a look here: https://github.com/xamarin/Xamarin.Auth/wiki/Details#xamarinforms-support

If you are using Xamarin.Forms then you should use the Xamarin.Auth.XamarinForms package if you are wanting to use custom renderers.

[2017-06-30 05:42] biapar opened #201 "Method 'Xamarin.Auth.Authenticator.GetUI' not found"
Hi, after update all, I've this error Method 'Xamarin.Auth.Authenticator.GetUI' not found.
Is't changed some things from 1.4.1 to 1.5.0.x?

[2017-06-30 05:44] biapar commented on #197
I updated all and the error disappear.

Latest stable Xamarin Forms
Installed Android SDK level 24,25,26
Update Android Support Libs to 25.3.x

[2017-06-30 06:18] jenart commented on #197
The only problem with that, is that the latest Xamarin.Forms v2.3.4.247 is bound to Xamarin.Android.* libraries with v23.3.0. It would appear that it is impossible to keep your Android libs @ v23.3.0 and use Xamarin.Auth v1.5.0.3 as it now has the dependency on Xamarin.Android.* v25.3.1.

I have tried updating the Xamarin.Android libs to v25.3.1 so I can use the sample code as shown in the Xamarin

[2017-06-30 07:52] biapar commented on #138
I'll try me too. I've the same error.

[2017-06-30 08:01] biapar commented on #197
So, Do you suggest to revert to Xamarin.Auth 1.4.1 and Xamarin.Android libs to v23.3.0?
But Xamarin.Auth 1.4.1 is gone into nuget.
I don't understand which is the stable combination.

@moljac **Could you help us and do some explanation**?

[2017-06-30 08:06] biapar commented on #185
@robintschroeder Have you update the Android Support Libs to v25.3.1?

[2017-06-30 08:17] tura08 commented on #167
Having this issue as well with 1.5.0.3. Getting the following error:

[2017-06-30 09:19] biapar commented on #167
@tura08 I've a similar error like write here: https://github.com/xamarin/Xamarin.Auth/issues/201 when run in debug mode.
I've read that you need to disable linker

[2017-06-30 09:53] tura08 commented on #167
I have disabled the linker. I'm running Xamarin.Android (not Forms) in debug with no linker.

[2017-06-30 10:02] biapar commented on #167
Other tip that I read but not tried yet:
enable "Multi-Dex" in build options

[2017-06-30 10:21] ExtremeSwat commented on #146
I'm having issues implementing the Xamarin.Auth wih UWP.
After successfully logging in with the OAuth2-provider  the app itself seems to refresh itself or something because as soon as I hit an await (or finish the isAuthenticated==true event) I lose the BindingContext..

So
[code]
[code]
I did initialize the Xamarin.Auth on UWP
[code]
This is the CompletedEvent handler
[code]

So as soon as I hit

[2017-06-30 10:56] ExtremeSwat opened #202 "App gets resetted on Xamarin.UWP after succesfully logging in.."
# Xamarin.Auth Issue
- [ ] nuget version = 1.5.0.3

### Steps to reproduce

1.Successfully login by using OAuth2 with a provider (such as Google)
2. Handle the Completed event

Platform: UWP
-	[] .NET version = 10.0 - Build 15063

### Expected behaviour

The control should be taken back to the caller instead of resetting the app and losing any info, right ?

### Actual behavior

After the Complete

[2017-06-30 12:29] madcreep opened #203 "Application crash on iOS 8.1"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

System.NullReferenceException: Object reference not set to an instance of an object
  at ObjCRuntime.BlockLiteral.SetupBlock (System.Delegate trampoline, System.Delegate userDelegate) [0x00102] in /Users/builder/data/lanes/4991/494fcbcf/source/xamarin-macios/src/ObjCRuntime/Blocks.cs:132
  at (wrapper managed-to-native) UIKit.UIApplication:UIAppl

[2017-06-30 13:56] tura08 commented on #167
Will try

[2017-06-30 14:57] EthanHitGub commented on #160
Any news on this? Exposing WebView could greatly improve flexibility.

[2017-07-01 05:56] EthanHitGub opened #204 "Xamarin.Auth not clearing cookies"
On Android, I am having an issue where the WebView is storing auth cookies even after user logout. I have tried using WebAuthenticator.ClearCookies() and ClearCookiesBeforeLogin = true, and many other tricks but nothing seems to have an effect. I can, however, clear the cookies while debugging through Chrome and I get expected behaviour (user token is removed from cookies). Am I doing something in

[2017-07-01 08:32] biapar commented on #167
I solved the problems:
- updates to latest xamarin forms stable version
- update to latest Xamarin.Auth stable version
- update Android support libs to latest stable version

**So after every nuget install you need to clean and rebuild application.**
Configure your output buil log to show detail info: Tools/Options/Build and Run -> MSBuild project build output verbosity to “Detailed”
If you exceed

[2017-07-01 08:35] biapar commented on #201
I solved the problems.

- updates to latest xamarin forms stable version
- update to latest Xamarin.Auth stable version
- update Android support libs to latest stable version

**So after every nuget install you need to clean and rebuild application.**
Configure your output buil log to show detail info: Tools/Options/Build and Run -> MSBuild project build output verbosity to “Detailed”
If you excee

[2017-07-01 08:36] #201 closed

[2017-07-01 08:36] biapar commented on #197
@jenart see here how I solve

https://github.com/xamarin/Xamarin.Auth/issues/201

[2017-07-02 03:05] jenart commented on #201
@biapar I've tried all those different options, but still no joy. I can't target a minimum Android v6.0 though. At this point I'm targetting minimum version 4.0.3. It appears that if you are targetting an older Android OS version, you cannot use the latest Xamarin.Auth v1.5.0.3 and it's features with the Xamarin.Android.* v25.3.1 library dependencies.

Maybe someone can tell me, what is a reasonab

[2017-07-02 05:58] biapar commented on #201
Hi, Why you cannot target minimun android 6? You need to install its sdk level 23.
See the market share of Android versions. It's low below Mashmallow

[2017-07-03 01:46] tura08 commented on #167
@biapar I could not get this to work with your fix. BTW, I am using Xamarin.Android not Forms. What is the code you're using to setup the Authenticator? is it something like:

[code]

[2017-07-03 06:36] biapar commented on #167
Hi, I read that it's changed how to call the authentication for the Xamarin Android or native.

[code]

[2017-07-03 13:22] ExtremeSwat commented on #202
EDIT 01 I've found out a fix but I do fear that it might have consequences. I did use NavigationCacheMode="Enabled" instead of it's default, 'Cancel'.
This will basically keep a cached version of the instance once I leave it's context and go to another ContentPage/Page/Frame. Because navigation in UWP doesn't happen like in Xamarin, you have to specify frame.Navigate(typeof(targetPage),args) so yo

[2017-07-04 01:52] robintschroeder commented on #185
@biapar  not quite - I am running Xamarin.Android.Support... v25.1.0
hth

[2017-07-04 04:29] moljac commented on #204
@EthanHitGub

Sorry, but I'll need more info.

Are you using native ui (custom tabs)?

[2017-07-04 04:43] moljac commented on #198
@bipar

1.4.x should be delisted, so you can still install it.

Please use 1.5.x

And close this issue if you can still install (delisted package)

[2017-07-04 04:45] moljac commented on #202
@ExtremeSwat

To speed things out can you provide me minimal sample for triaging?

Thanks

[2017-07-04 04:52] moljac commented on #199
@biapar

Xamarin.Forms comes with 2 implementations

- Presenters which have no dependency on Xamarin.Forms packages, but can be used for Xamarin.Forms. This is in Xamarin.Auth itself.
- Custom Renderers which are in Xamarin.Auth.XamarinForms package. This implementation is not tested as well as Presenters.

@jenart Thanks for pointing this out.

[2017-07-04 05:19] moljac commented on #197
@jenart

Exactly. It had to be pinned because of Xamarin.Forms. What other users do is to bump all Xamarin.Android.Support to latest versions after installing nugets and ensure that everything is the same version (in Visual Studio, Solution Node, Manage nuget packages for solution, Consolidate)

This is most likely Samsung specific problem (searching for packages supporting CustomTabs). Can you te

[2017-07-04 05:21] moljac commented on #196
Closing due to lack of information

[2017-07-04 05:21] #196 closed

[2017-07-05 06:36] ExtremeSwat commented on #202
[XamarinTestApp.zip](https://github.com/xamarin/Xamarin.Auth/files/1123699/XamarinTestApp.zip)

I've uploaded the main project only. (XForms)
If you need the whole solution, I've uploaded it to OneDrive
https://softbiz1-my.sharepoint.com/personal/edward_butoiu_cogito-erp_ro/_layouts/15/guestaccess.aspx?docid=14a647776ce304dbbaac4991bfb3d46b4&authkey=AWUWhmixLnQ45pwM6_NgJ9g

[2017-07-05 13:35] jenart commented on #197
@moljac thanks for taking the time to write your response. I appreciate your time.

I've updated all the Xamarin.Android.Support libraries to the latest versions. I changed the Android project settings to target Android 6.0 for compilation and set the minimum version to Android v6.0 as well. I deployed to the Android Emulator running x86 with API 23 Android 6.0 and the application still doesn't wo

[2017-07-06 06:22] EthanHitGub commented on #204
@moljac

Yes, I am using the embedded UI.

[2017-07-06 11:54] moljac commented on #204
This is the point with Native UI (Custom Tabs and SafariViewController) - reduced API for security reasons.

From what I know (and I searched in February/March) both CustomTabs and SFSafariViewController have no possibilities to clear cookies. This might have changed (or will change), but I'm not aware of that.

You need to clear cookies from Safari Options and/or stick with UIWebView/WKWebView.

[2017-07-06 12:25] moljac commented on #197
@jenart

You are welcome.

Can you try 7.x?

Sorry to hear that, but this seems like not Xamarin.Auth problem - buttons not working?!?

I will gather info about 23.3.0. It is pinned to this version only because of Forms support. I (and most of other users) update Support nugets to latest and it works in most cases.

If you stay on 23.3.0 you get error mentioned in the title of this issue.

[2017-07-07 13:42] dazinator opened #205 "Integrate accounts with android account manager?"
### Feature description

Android has a concept of an [AccountManager](https://developer.android.com/reference/android/accounts/AccountManager.html), and Authenticator services which are platform level services.

Does Xamarin Auth integrate with these two components? Ideally, i'd like for my accounts to show up under android's "accounts and sync" screen, and for other non-xamarin apps (we have some

[2017-07-07 16:34] moljac commented on #205
@dazinator

Xamarin.Auth uses `KeyStore`

https://github.com/xamarin/Xamarin.Auth/blob/master/source/Xamarin.Auth.XamarinAndroid/PlatformSpecific/AndroidAccountStore.cs

Seems like feasible and not complex enhancement. I will take a look, but not sure when can I implement it.

Any ideas how fast do you need it? Yesterday?

[2017-07-07 17:29] arctouch-oberdanbitencourt opened #206 "Webview won't dismiss if "Not Now" is tapped in facebook"
# Xamarin.Auth Issue

### Version

- [X] nuget version = 1.5.0.3

### Steps to reproduce
I'm using the following code in my Xamarin.Forms (PCL) project:
[code]

1. In the Facebook webview, tap on the "Not Now" link
2. auth.Error event is called but webview is not dismissed.

Platform:

- [x] mono version = 5.2.0.196 (2017-04/478c04a) (64-bit)
- [x] XCode version = Xcode 8.3.3 (12175.1)
- [x]  Xama

[2017-07-07 19:15] BioTurboNick commented on #167
@tura08 and later: That appears to be a different issue than the one originally raised. Linker error vs. runtime exception?

[2017-07-08 09:41] dazinator commented on #205
Thanks. No rush!
I've done some experiments with the android account manager recently and I thought it might be a good enhancement for xamarin.auth. I like the fact it means you can see the user accounts properly listed on the device, and also that it opens up the possibility of writing things like android SyncAdaptors (which is how android schedules background sync for user accounts) which is use

[2017-07-08 10:43] jenart commented on #197
@moljac  It seems like this post by @jamesmontemagno is pretty clear about the need to stay with the pinned Xamarin.Android.Support.* libraries and the current Xamarin.Forms version:

https://forums.xamarin.com/discussion/57283/unable-to-find-a-version-of-xf-compatible-with

With this in mind, I really don't want to be trying go against this advice. I don't know Android development well at all (wh

[2017-07-08 23:27] jamesmontemagno commented on #197
@jenart  watch this:
https://channel9.msdn.com/Shows/XamarinShow/Snack-Pack-11-Understanding-Android-API-Level-Settings

or read this:
https://developer.xamarin.com/guides/android/application_fundamentals/understanding_android_api_levels/

You aren't targeting that version... minimum is what says how far back you can go.

[2017-07-09 09:59] HyoseopSong opened #207 "How to set aud property in Google ID Token as my server client ID?"
Is it possible to set the 'aud' property of Google ID token as my server client ID?
I can get google ID token by below code snippet.

[code]

The problem is the 'aud' property of token is my Mobile App client ID and  same with the 'azp' property. What I want is the 'aud' property is my backend client ID.

In google document, the 'aud' property can be set as below code line.

[code]

On the other h

[2017-07-10 13:39] dbolak opened #208 "Xamarin.Auth on Xamarin.Forms UWP"
Any guidance on when you would expect Xamarin.Auth to pass tests on Xamarin.Forms UWP ? I know that it is working on Xamarin.Forms iOS and Droid. Thank you.

[2017-07-12 00:51] alexlopespereira opened #209 "Send state to facebook on login request"
# Xamarin.Auth Issue
### Feature description
It would be nice if we could send the state (as described here https://developers.facebook.com/docs/facebook-login/manually-build-a-login-flow?locale=en_US) to facebook. This "state" is part of the facebook api and is not supported by Xamarin.Auth.

In order to implement this new feature, it would be as simple as adding another parameter to the URL, lik

[2017-07-12 09:47] #199 closed

[2017-07-12 09:47] biapar commented on #197
A good free Xamarin Blog post about Android support lib
https://blog.xamarin.com/mastering-android-support-libraries/

[2017-07-13 02:18] theVietCoder commented on #171
The latest update in Nuget seems to resolve this issue.

[2017-07-13 02:18] #171 closed

[2017-07-13 16:31] #208 closed

[2017-07-13 17:04] Bmahecha123 commented on #151
So for Google Sign In using this instructional https://developer.xamarin.com/samples/xamarin-forms/WebServices/OAuthNativeFlow/ takes me to google sign in, once I sign in my browser stays open and the OnAuthCompleted event never get's fired. I set the breakpoint and it never gets there. So things seem to be working to an extent.. Just need this OnAuthCompleted event to fire off.

`		void OnLoginCl

[2017-07-13 17:06] joaomello opened #210 "Use IdentityModel.OidcClient2"
Would not be a good idea, if Xamarin.Auth use https://github.com/IdentityModel/IdentityModel.OidcClient2? (:

[2017-07-19 05:01] zBrianW opened #211 "AuthState grows on serialisation/deserialisation"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version =
- [x] component version = 1.5.0 (also replicated with 1.5.3)
- [ ] sample

### Steps to reproduce

1. as per this [issue identified in openid AppAuth-Android](https://github.com/openid/AppAuth-Android/issues/224), the same is experiencing with Xamarin.OpenId.AppAuth.Android.
2.
3.

Platform:

- [x] .NET version

[2017-07-20 12:14] dannyratna562 opened #212 "How do i add query parameters too OAuth2Authenticator?"
RequestParameters.Add() crashes since RequestParameters is not initialized.
i simply need to add promp=none to my request.

[2017-07-22 00:42] sjreed commented on #197
I have been working with Xamarin.Auth for several months in DEBUG mode while building my Xamarin Forms app.  I now switch to RELEASE mode and it fails with the linkage error described in this post title.

My Xamarin Forms is 2.3.4.247, which requires support modules of 23.3.0.

I don't understand how I can use Xamarin.Auth 1.5.3 when it seems to point to 25.3.1 libraries!

[2017-07-22 00:58] jamesmontemagno commented on #197
@sjreed  Xamarin.Forms has not required 23.3.0 for a long time. you just need to adjust your compile target: https://blog.xamarin.com/mastering-android-support-libraries/

[2017-07-24 04:21] EndlessDelirium commented on #200
I would also appreciate if this would be implemented

[2017-07-24 16:23] sjreed commented on #197
You are correct in stating that Xamarin.Forms does not require 23.3.0, as long as you can force it to switch to Mono.Android = v7.0.  Your article clarified how to get that done.  Thank you for that!

After completing that process and  restarting VS a couple of times I was successful in getting a clean debug compile.  Then it was a matter of fighting other battles with Java Max Heap Size and ProGu

[2017-07-26 10:03] MichelaR opened #213 "CustomUrlSchemeInterceptor does not redirect back to app"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 4.0.0.2323
- [ ] component version = 1.5.3.0
- [ ] sample

### Steps to reproduce

1. I've created a Xamarin.Forms project with a login page, where I want to use an OAuth2Authenticator.

2. I created all the Events (OnCompleted etc.)

3. I've set 'isUsingNativeUI' to true (redirect_uri is : "http://localhost/callback"

4. I've created a Cust

[2017-07-26 13:40] fernandovm commented on #169
@moljac

What's the expected behavior when the Android back button is pressed? In my code neither the OnCompleted, neither OnError events are raised. How we can detect this case?

[2017-07-29 19:12] hardcodet opened #214 "Developer-intended toast showing up after login"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 1.5.0.3

### Steps to reproduce

I am seeing a popup upon native auth on Google after returning from the Google account selection page which fades after a bit: _If CustomTabs Login Screen does not close automatically, close CustomTabs by navigating back to the app._ From the wording, I assume the message is intended for developers:

<img src

[2017-07-29 22:10] dgerding opened #215 "Contributors, Please Clarify: Does this version work with Azure Mobile Client or Not?"
Hi,
I've been trying to figure out if I am supposed to be using this Nuget for Xamarin.Auth with mobile app on Azure (using Azure Mobile App Client and Server libraries) or am I supposed to be using this one
["Auth for Azure"](https://github.com/azure/azure-mobile-services-xamarin-auth/tree/46aa4f283caaef23beb1b0786e6837f4bc29fe66) ?

I am targeting Xamarin.Forms "235.Pre6" using .Net Standard pro

[2017-08-02 10:44] DanielMcAssey commented on #194
Any update to this?

[2017-08-03 19:43] mikegottlieb commented on #167
I am also seeing this. I had to downgrade to get my project to build.

[2017-08-04 08:07] hardcodet opened #217 "Google/Android: Cancelling from account selection doesn't fire event"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = Android, 1.5.0.3

### Steps to reproduce

1. Go to account selection
2. Cancel instead of selecting an account by tapping the "x" icon (marked in the screenshot)
3. No event fires

### Expected behaviour

Looking at the source, I assume `OnCancelled` should be invoked and the `Completed` event should fire.

### Actual behaviour

No event fir

[2017-08-04 10:05] moljac commented on #206
@arctouch-oberdanbitencourt
Facebook only?
Investigating, but info is more than welcome?

[2017-08-04 10:13] moljac commented on #215
@dgerding
Xamarin.Auth has changed a lot in version 1.4. and 1.5 to support Native UI. I contacted Azure Mobile Service Client team and am being in contact with them, but they decided to keep their own fork of Xamarin.Auth. This means they must change code to compile Xamarin.Auth for their need (mostly changing  `public` to `internal`).

Recent changes to Xamarin.Auth (coming in 1.5.0.4, after my

[2017-08-04 10:20] moljac commented on #214
@hardcodet
Check `Xamarin.Auth.CustomTabsConfiguration.` class.
Set the warning message to `null` and it will not be shown.

NOTE: alpha API, subject to changes!! Undocumented for that reason.

[2017-08-04 10:26] moljac commented on #213
@MichelaR

This is the reason `IgaveTheClassSoooLoongName` - it needs custom scheme -  so no http and https which will be intercepted by default by system browser (Chrome with CustomTabs), so that is the reason it does not close to the app.

DISCLAIMER - it is possible to make Android to work with http/https schemes (some users did manage to do it with tweaks), but this is not documented, because

[2017-08-04 10:31] moljac commented on #212
@dannyratna562
If you debug the Xamarin.Auth you will see that ctor does initial requests to autorization and token endpoint. This means custom parameters must be passed to ctor and this is what I'm investigating right now (on vacation) -  what is needed to add custom params to the API.

See my investigation and roadmap based on that:

https://github.com/xamarin/Xamarin.Auth/blob/master/docs/detai

[2017-08-04 10:35] hardcodet commented on #214
That was easy - thanks! :)

Note for others - the property is the following. Just set it when initializing Xamarin.Auth in your main activity:

    //don't show warning message when closing account selection page
    CustomTabsConfiguration.CustomTabsClosingMessage = null;

[2017-08-04 10:35] #214 closed

[2017-08-08 15:27] marcelocferdeveloper opened #218 "Exception using isUsingNativeUI: true ? For facebook"
I am reading the doc, but if i set isUsingNativeUI: true i got a exception. If i set to false, works !
Its for facebook login...
I am a begginer. Do i need to set something on MainActivity ? beside             global::Xamarin.Auth.Presenters.XamarinAndroid.AuthenticationConfiguration.Init(this, bundle);

[2017-08-09 15:39] morrisandy commented on #194
bump!

[2017-08-13 00:35] gabrielsalmeida commented on #218
Same issue for me!

[2017-08-15 10:35] trantiendat-oro commented on #204
@moljac Hi Moljac, i have some problem too.
I think problem is `session cookies` never gone. And these cookie only disappear after `browser end`.
I think SFSafariViewController and Chrome Custom Tab never close althrough shut down app.
I tried and they gone until i reboot device.

Could you help me, please ? Maybe it's easy to close it in Xamarin Auth source code.

[2017-08-15 19:12] Dermendzhiev opened #219 "Google API Authenticating Users with an Identity Provider"
I am still getting used to Xamarin.Forms and I am on very basic level. I went through many articles for my issue, but to the end couldn't resolve it. So...

Currently I am trying to add Google authentication inside my Xamarin.Forms application, which use Droid and iOS (no WP). So far I am following guide from [here](https://developer.xamarin.com/guides/xamarin-forms/cloud-services/authentication/o

[2017-08-16 14:45] Dermendzhiev commented on #219
Found solution, I provide it [here](https://stackoverflow.com/questions/45684166/xamarin-forms-google-api-authenticating-users-with-an-identity-provider)

[2017-08-19 16:16] moljac commented on #218
@marcelinhovt @gabrielsalmeida

Sorry, but I'll need more info:

1.  is it Xamarin.Forms app?
2. if yes: are you using Presenters or Renderers?
3. Did you initialize Presenter?

Thanks

[2017-08-19 16:21] moljac commented on #219
@Dermendzhiev
If you have found an solution and if it is not related to Xamarin.Auth (in this case it is not) please close the issue.

In the future please go to the community slack team channel where you can get help a lot faster.

Thanks

[2017-08-19 20:04] #219 closed

[2017-08-19 20:04] Dermendzhiev commented on #219
Closed issue: Invalid reference

[2017-08-21 04:10] Vijay4657 opened #220 "UINavigation warning in iOS for OAuth presenter"
I am integrating the Facebook login for Xamarin PCL. I have followed the sample "Comic book" https://github.com/moljac/Xamarin.Auth.Samples.NugetReferences and integrated the login process into my application. But, I am getting the below exception while the oauth presenter is called from Xamarin PCL project to present the Facebook UI in the app on iOS.

I am facing the below warning, when i click

[2017-08-21 12:50] XzaR90 opened #221 "Conflict: TypeCode exists in both Xamarin.Auth and System.Runtime"
# Xamarin.Auth Issue

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0433	The type 'TypeCode' exists in both 'Xamarin.Auth, Version=1.5.0.0, Culture=neutral, PublicKeyToken=null' and 'System.Runtime, Version=4.0.20.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

### Version

{
  "dependencies": {
    "Fody": "2.1.2",
    "FreshMvvm": "2.2.0",
    "Microsoft.NETCore.Uni

[2017-08-21 13:54] marcelinhovt commented on #218
1- yes
2- Presenters
3- Yes! For sure...

2017-08-19 13:16 GMT-03:00 Miljenko Cvjetko moljac moki mel <
notifications@github.com>:

[2017-08-26 10:25] #113 closed

[2017-08-26 12:49] jigneshbodarya opened #222 "Object reference not set to an instance of an object"
# Xamarin.Auth Issue
Xamarin.Forms/Evolve16Labs/Droid/ComicBook.Droid.csproj: Object reference not set to an instance of an object
*IF BUG, INCLUDE THIS PART:*
While trying to run android project in xamarin forms getting this error
### Version
=== Xamarin Studio Community ===

Version 6.3 (build 864)
Installation UUID: 5d3a5d5e-7841-46a7-8ad3-61c053d98ea2
Runtime:
	Mono 5.2.0.215 (d15-3/da80840) (

[2017-08-27 11:22] Vandersteen opened #223 "KeyStore was not initialized"
# Xamarin.Auth Issue

Recently I am getting KeyStore was not initialised exception when trying to do anything with the AccountStore (in Xamarin Forms).

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 1.5.0.3
- [ ] Forms = 2.3.4.267

### Steps to reproduce

[code]

### Actual behaviour

[code]

[2017-08-27 11:30] Vandersteen commented on #223
Seems like completely uninstalling the application and reïnstalling it solved the issue.

[2017-08-28 09:06] marcosanfilippo commented on #55
There's the same issue for iOS?

[2017-08-28 09:37] moljac commented on #222
@jigneshbodarya

I'm sorry, but I will need more info:

1. Xamarin.Auth version
2. Are Presenters or Renderers used?
3. Which provider?

Seems like project is running. NRE (NullReferenceException, "Object reference not set to an instance of an object" is runtime error.

Did you initialize Presneters?

Is it NRE runtime or compile error?

If you cannot answer these questions please create repo with

[2017-08-28 09:42] jigneshbodarya commented on #222
I am getting this error after updating package
Downloaded latest version from github repo

Give me some time I will add repo so you can test it

On Mon, 28 Aug 2017 at 3:07 PM, Miljenko Cvjetko moljac moki mel <
notifications@github.com> wrote:

[2017-08-28 14:18] jigneshbodarya commented on #222
Here is a dropbox link you can download and test it
https://www.dropbox.com/s/7xy6hbva41nw5al/Evolve16Labs.zip?dl=0

[2017-08-29 01:35] dpmcgarry commented on #194
+1

[2017-08-30 10:12] taublast commented on #100
As @johnshardman previously said, it's actually unusable on UWP version 1.5.03:
when a user cancels the login process it randomly crashes after few open-cancel actions.
Non-native views ofc.

[2017-08-30 13:51] Emixam23 opened #224 "Xamarin Auth - Facebook & GooglePlus"
I'm currently begining to work with `Xamarin.Auth` and I'm facing 2 problems for which I'm stuck since 1 day and half..

I have this piece of code :

    public class OAuth
	{
		private Account account;
		private AccountStore store;

		// These values do not need changing
		public string Scope;
		public string AuthorizeUrl;
		public string AccessTokenUrl;
		public string UserInfoUrl;

		string cli

[2017-09-05 09:43] Vijay4657 commented on #220
I happen to resolve the issue by stacking the pages in my application to a Navigation stack. With the help of  @moljac . So, i am closing this issue.

[2017-09-05 09:43] #220 closed

[2017-09-05 14:49] andrew-nemtsev commented on #167
Confirm linker issues with Xamarin.Auth 1.5.0.3 + Xamarin.Android.Support.CustomTabs 23.4.0.1:

The "LinkAssemblies" task failed unexpectedly.
Mono.Linker.MarkException: Error processing method: 'System.Void Android.Support.CustomTabs.Chromium.SharedUtilities.CustomTabActivityHelper::LaunchUrlWithCustomTabsOrFallback(Android.App.Activity,Android.Support.CustomTabs.CustomTabsIntent,Android.Net.Uri,

[2017-09-05 17:54] dagostinelli opened #225 "NullReferenceException in Xamarin.Auth.Presenters.OAuthLoginPresenter.Login()"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 4.0.0.2283
- [ ] Xamarin.Auth version = 2.3.4.270

[code]

### Steps to reproduce

1. Stick a button on a form

2. Put this code into the handler.  (I lifted this code from the following sample)

https://github.com/xamarin/xamarin-forms-samples/tree/master/WebServices/OAuthNativeFlow/OAuthNativeFlow

        void OnLoginClicked(object sender

[2017-09-05 21:35] moljac commented on #225
@dagostinelli
Did you initialize Presenter??

[2017-09-06 01:35] dagostinelli commented on #225
That was it.  Thank you.  I looked up what you meant and found instructions.

For anyone else who runs into this, here are some [detailed instructions here](https://developer.xamarin.com/guides/xamarin-forms/cloud-services/authentication/oauth/).

[2017-09-06 01:35] #225 closed

[2017-09-06 20:50] zati- opened #226 "Browser doesn't close itself on Android with native renderers"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 1.5.0.3
- [ ] Xamarin Forms = 2.3.4.270

### Steps to reproduce

Call OAuth2Autenticator on Android with native renderers, using presenter or AuthenticatorPage.
Custom URL scheme is registered

[code]
``
Custom URL scheme interceptor Activity and `Authenticator_Completed` are called.

Platform:

-	[] .NET versio

[2017-09-08 13:51] moljac commented on #226
@zati-
I need more info: decl/def of Activity with IntentFilter.

[2017-09-08 14:11] zati- commented on #226
[code]

[2017-09-09 08:47] patsadow2 opened #227 "Toolbar"
Hello,
 Is there any magic way to remove ugly toolbar ??

Br ;)

[2017-09-09 09:36] patsadow2 commented on #227
Please?

[2017-09-10 01:32] dagostinelli commented on #218
+1 Same issue, but for Google.  When I do isUsingNativeUI: false, it doesn't throw an exception (but google blocks it because it's using a web view)

[2017-09-10 01:36] dagostinelli commented on #218
Here is some code that shows the same issue on google.

[code]

Then:
[code]

[2017-09-10 14:19] dagostinelli commented on #218
I made progress, but it's not perfect yet.  Here's what I did to improve things (TLDR; upgrade everything)

NOTE: the fact that I had to do this implies there is some seriously wrong monkey business in Xamarin.

1) Re-Targeted the entire project to v7.1 (up from 6.0)
2) Remove Xamarin.Auth
3) Downgrade Xamarin.Forms to 2.3.4.247 (so that I could upgrade the Xamarin Android Support libraries)
4) Up

[2017-09-13 08:07] dschneid85 opened #228 "oAuth2 with implict flow for OpenID"
Hello,

I use your oauth framework to authenticate with our own oauth server.
This server is an connect2id server which implement the openid standard.
We would like to use the oauth2 implict flow with your framework but this isn't possible.
The connect2id server required for the implict flow the response_type=id_token or response_type=id_token%20token.
Therefore the nonce parameter is also require

[2017-09-13 13:01] dagostinelli opened #229 "Can't actually add a reference to Xamarin.Auth.Extensions in the PCL"
# Xamarin.Auth.Extensions Issue

This might be related to this https://github.com/xamarin/Xamarin.Auth/issues/171

### Version
[code]

### Steps to reproduce

1. Attempt to install the Xamarin.Auth.Extensions package after already installing Xamarin.Auth nuget package.  Do this in a PCL.
2. Look at your project References.  Notice anything missing?  What's missing is the extensions dll.

I attempt

[2017-09-13 15:09] muhaym commented on #218
I have the same issue

No meaningful exceptions. Working perfectly in iOS, but in Android

[code]

Xamarin.Forms Version : 2.3.4.270
CustomTab Version: Tried with 25.3.1 and 25.4.0.2
Target 7.1
Minimum API LEVEL 15

Have been facing this issue past 3 days.

[2017-09-13 21:00] moljac commented on #218
@muhaym Can you please create minimal sample and share it (either repo or zip)?

This would help me a lot.
I will replace nuget references with project and test it.

[2017-09-13 21:15] dagostinelli commented on #218
@muhaym Are all of your Xamarin Android Support Libraries up to date (latest versions)?  (Look at NuGet Package Manager -- see any updates for Android Support Libraries)

[2017-09-13 21:16] muhaym commented on #218
@dagostinelli  Yes

[2017-09-13 21:25] moljac commented on #229
@dagostinelli
The decision to move it outside of Xamarin.Auth was based on one pretty old discussion when only implicit flow was "OK" for mobile/installed/native apps and refresh-token concept makes no sense with implicit flow.

I work on moving refresh token back to Xamarin.Auth and moving AccountStore out of OAuth (Xamarin.Auth) library, because storing tokens (except long living refresh token)

[2017-09-13 21:41] moljac commented on #228
@dschneid85
Xamarin.Auth was designed to support OAuth and from OAuth standpoint OpenID is superset/extension of OAuth.
There are some parts in the API using IDictionary<string, string> for parameters, but I haven't gone that far - I need to implement/fix few more OAuth features before going in the direction of "custom parameters" for OpenId. To give you few good news - I'm working on that current

[2017-09-13 21:43] moljac commented on #198
closing

[2017-09-13 21:43] #198 closed

[2017-09-14 02:21] dagostinelli commented on #229
@moljac That makes sense about the AccountStore as well.  It's a pretty useful library in general.  Will it be a new plugin?

As for getting voluntold to become the resident OAuth expert.... I understand. This is what happens to people who do a good job -- you get rewarded with more work. 😃

[2017-09-14 07:14] dschneid85 commented on #228
Hello moljac,

thanks for your fast answer. Sure, I attached my changes as txt file and the instantiation part as picture.
 So you can see how I changed your code to use implicit flow accordingly to the OpenId standard.

![instantiationoauth2authenticator](https://user-images.githubusercontent.com/31453219/30415411-3c277d74-9928-11e7-9728-fc60ea32a57f.png)

[OAuth2Authenticator.cs.txt](https://git

[2017-09-14 07:44] moljac commented on #221
@XzaR90
I'll need minimal repro sample from you. I have 3 UWP samples right now (Traditional and 2 Xamarin.Forms) and cannot reproduce.

There must be something else involved.

TypeCode had to be added 2 years ago when a lot of stuff was missing and I was adding Windows platforms.

[2017-09-14 08:06] moljac commented on #228
@dschneid85

So you basically added 2 properties? Makes sense.

I'm basically working right now in `OAuthFlowResponseTypeVerification()` because initial Xamarin.Auth covered (was designed) mainly for ImplicitFLow and now we cover Authorization Code grant, PKCE flow, and other...
I just need to go through the forest of ifs and other spaghetti to see where I can add other properties without breaking

[2017-09-14 08:52] dschneid85 commented on #228
I thought that you would expanded your
OAuthFlowResponseTypeVerification() method
for the feature.
I needed a fast workaround to work with your code. Maybe it is better to
implement a base interface that supports different oauth flows. Then you
can implement different oauth flow classes which supports the required and
optional parameters. Maybe that is one way to eliminate the spaghetti code.

You

[2017-09-14 11:45] dagostinelli opened #230 "Authroization Code Flow for OpenId"
Does Xamarin.Auth support the Authorization Code Flow?

Regarding: https://security.stackexchange.com/questions/129928/oidc-flow-for-spa-and-restful-api.

[2017-09-14 19:11] moljac commented on #230
Yes - for OAuth2

... but your link is for OpenId...

So after short analysis.

Did you mean:

https://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth

???

Authorization Code Flow for OpenID from that spec does not use `client_secret`, so it is more like

So, OAuth2Authenticator ctors will not be suitable for that right now, but I'm working on adding API for custom parameters which is

[2017-09-14 19:12] moljac commented on #230
Which OpenId service providers use Authorization Code Flow?
(for testing purposes)

[2017-09-14 23:03] dagostinelli commented on #230
I apologize if I've used the terms incorrectly.  I think of it like this:  Authorization Code flow was the default and implicit grant was sugar on top to make this go a little easier if all you need to do is directly get the user's profile every time.

All this means to me is that you hit the authorization url that the providers give you but don't exchange the code for an access token / id_token.

[2017-09-15 13:40] dagostinelli commented on #230
After I wrote you, I went to implement this, at least in part, and ran into some problems with Google's endpoint sending back [invalid_grant](https://blog.timekit.io/google-oauth-invalid-grant-nightmare-and-how-to-fix-it-9f4efaf1da35). I'm having this problem while attempting to exchange the code for an access_token on my server side.  This seems odd to me because I thought that's how Auth flow wo

[2017-09-15 13:40] #230 closed

[2017-09-15 16:34] moljac commented on #167
@andrew-nemtsev Update your Android Support nugets!

[2017-09-15 22:17] dagostinelli commented on #230
I think this is more of what I was after (just found this link)

https://developers.google.com/identity/sign-in/web/server-side-flow

[2017-09-18 10:12] Emixam23 opened #231 "Xamarin.Auth UWP side"
Hi,

I would like to know how does work the redirection (OnSuccess) on UWP because I stay on google and I the webview doesn't get closed..

I know that, on Android, I need the following class :

    using System;
    using Android.App;
    using Android.Content;
    using Android.Content.PM;
    using Android.OS;
    using PROJECT.Sources.Components;

    namespace PROJECT.Droid.Sources.Dependency

[2017-09-18 23:16] mesta1 opened #232 "UWP: Payload contains two or more files with the same destination path 'Xamarin.Auth.pdb'."
Hello,
I got an error message that is preventing me to use Windows Mobile Center build server because of this library.
This happens when I try to compile the UWP app on Windows Mobile Center, whatever configuration I use.
Xamarin.Auth is referenced both in the UWP project and in a portable library.
Any idea on how to fix it ?

Here is the full log:

##[error]C:\Program Files (x86)\Microsoft Visual

[2017-09-19 17:22] Emixam23 commented on #146
Hi,

When `IsUsingNativeUI` is set to `true`, then it doesn't close after I get the information over UWP, why so? It does work fine in Android and when the value is set to `false`

Thank

[2017-09-20 19:50] nolanblew commented on #165
Still hitting this same bug after adding `Xamarin.Auth 5.0.3` to an empty Android project. Looks like it doesn't automatically bring in `PCLCrypto` into the project as a dependency, so I had to manually add `PCL Crypto 2.0.147` to successfully get it to work.

[2017-09-21 09:25] moljac commented on #232
@mesta1

Try disabling PDB generation - this was my [re]solution/workaround, but it is not pretty.

This has been reported to Visual Studio team and issue is under investigation.

"Error when using Project References for libraries that implement NuGet bait-n-switch - Payload contains two or more files with the same destination path"

https://developercommunity.visualstudio.com/content/problem/5343

[2017-09-21 09:30] moljac commented on #231
@Emixam23

This is completely different story from Android, so forget Android. Check topics on deep-linking (app-linking) for UWP and Windows platforms in general (WinRT Windows and WIndows Phone are very similar).

I work on updating samples (Windows platforms especially) and I hope this will be done this week. I'm blocked with some CI (msbuild) issues and work on bug reporting for Visual Studio

[2017-09-21 10:06] mesta1 commented on #232
Thank you !

[2017-09-21 10:06] #232 closed

[2017-09-21 10:14] Emixam23 commented on #231
@moljac

Hi, alright, thank you, I'll see what I can find and also wait what you'll release :)

[2017-09-25 07:40] Clemon-R opened #233 "Bug size of the window with Facebook Authentificator on IOS"
# Xamarin.Auth Issue

Hello,

I have a problem with facebook authentificator, "the window is too small to continue."
![image001](https://user-images.githubusercontent.com/23109272/30797218-6e8afa2e-a1d5-11e7-8bc3-29524daf6030.png)

with this code:
OAuth2Authenticator authenticator = new OAuth2Authenticator("XXXXXXXXXXXX",
                "public_profile,publish_actions,manage_pages,publish_pages",

[2017-09-26 11:35] DuarthVader opened #234 "../iOS/MTOUCH: Error MT2002: Failed to resolve "System.Json.JsonValue" reference from "Xamarin.Auth, Version=1.5.0.0, Culture=neutral, PublicKeyToken=null" (MT2002) (project_name.iOS)"
# Xamarin.Auth Issue
### Version

- [ ] nuget version = 4.3.0.2418
- [ ] component version = 1.5.0.3
- [ ] sample

### Steps to reproduce
Release:
1. Compile iOS project

Debug:
1. Click play to run app in simulator.
2. Perform any login atempt (in my app: Facebook, Google, Linked In)
3. Fails due to error seen in screenshot below.

Platform:

-	[] .NET version = .NET Core

[2017-09-26 20:26] SirLanceLang commented on #217
This happens as well for the Back button in the embedded view for Microsoft Login.
The Error event is being fired.

[2017-09-27 08:19] moljac commented on #234
@DuarthVader
Can you provide minimal sample, please?

[2017-09-27 08:27] DuarthVader commented on #234
Yes. I'm using JsonValue parsing for GetResponseText()

![captura de pantalla 2017-09-27 a las 10 24 05](https://user-images.githubusercontent.com/1272447/30903283-84714b50-a36e-11e7-825a-cae9665ced0a.png)

[2017-09-27 19:21] moljac commented on #234
@DuarthVader
Please paste this method code here. I will try to test it with my samples.

[2017-09-27 19:41] bartvdbilt commented on #194
How to build Xamarin Auth for .NET standard ?

[2017-09-28 07:05] DuarthVader commented on #234
`private void ClickOnFacebookBtn()
        {
            var auth = new OAuth2Authenticator(
                clientId: FBClientId,
                clientSecret: FBClientSecret,
                accessTokenUrl: new Uri("https://graph.facebook.com/oauth/access_token"),
				scope: "email",
				authorizeUrl: new Uri("https://www.facebook.com/v2.10/dialog/oauth"),
                redirectUrl: new Uri(st

[2017-09-28 07:07] DuarthVader commented on #234
`private void ClickOnFacebookBtn()
        {
            var auth = new OAuth2Authenticator(
                clientId: FBClientId,
                clientSecret: FBClientSecret,
                accessTokenUrl: new Uri("https://graph.facebook.com/oauth/access_token"),
				scope: "email",
				authorizeUrl: new Uri("https://www.facebook.com/v2.10/dialog/oauth"),
                redirectUrl: new Uri(st

[2017-09-28 07:11] DuarthVader commented on #234
private void ClickOnFacebookBtn()
        {
            var auth = new OAuth2Authenticator(
                clientId: FBClientId,
                clientSecret: FBClientSecret,
                accessTokenUrl: new Uri("https://graph.facebook.com/oauth/access_token"),
				scope: "email",
				authorizeUrl: new Uri("https://www.facebook.com/v2.10/dialog/oauth"),
                redirectUrl: new Uri(str

[2017-09-28 22:22] SuhanKoh opened #235 "Capture the screen (prevent showing offline page)?"
Is there a way to override the page when you call Authenticate while you're offline?
Right now it will display the default offline page (android will show the whole URL on the screen).

### Steps to reproduce

1. Turn on airplane mode
2. Call Xamarin.Auth authentication
3. It should show the offline page.

[2017-09-29 08:09] Emixam23 commented on #231
Hey !

Could you move forward on the UWP side?

[2017-09-29 09:12] moljac commented on #235
@SuhanKoh
Not that I'm aware of. But I must admit good idea for improvement/enhancement. I will try to add it ASAP. It might be available in 1.5.0.4, just to solve NET standard and UWP build issues on CI servers and I will publish it.

[2017-09-29 09:13] moljac commented on #231
@Emixam23
I would if I could.

I have problems with builds, because of .NET Standard support which was recently added.

[2017-09-29 09:16] Emixam23 commented on #231
:'( I search on the web but I still don't know if I need interceptors or any other extension to handle the redirection over UWP

Maybe I haven't done the good searches, idk but still stuck on it ...

[2017-09-29 15:54] SuhanKoh commented on #235
@moljac Thanks for the response. On the iOS, Xamarin Auth actually throw a dialog message (Can't be canceled) that also cannot be overrided (correct me if I am wrong). The dialog shows "Authentication Error e.Message =" "The internet connection appears to be offline."

It would be nice to not show this kind of message for user.

[2017-09-29 21:41] moljac commented on #231
@Emixam23

On UWP and other Windows platforms app-linking/deep-linking is called "link/url activation".
You need:
1. App.cs must have OnActivated(object, SomeEventArgs) (link activation/deep-linking)
2. Package.appxmanifest schema def
3. Main page code behind in my samples has switch/case with 3 cases Android, iOS, Windows. Windows is the one.

I have collected few links but need time to find thos

[2017-09-29 21:43] Kookpot opened #236 "WebAuthenticatorPage not working with OAuth1Authenticator in UWP"
https://github.com/xamarin/Xamarin.Auth/blob/c584e5395f598b98b82bd22cfe079f135b0ffeda/source/Xamarin.Auth.UniversalWindowsPlatform/WebAuthenticatorPage.Events.xaml.cs#L28

[2017-09-29 21:44] KoenkookpotPlasmans commented on #236
Why is there a cast here?
Don't OAuth1Authenticator and OAuth2Authenticator have a base class that exposes all necessary functions?
I tried implemented Twitter Oauth1 in UWP with with a cast exception...

[2017-09-29 21:48] KoenkookpotPlasmans commented on #236
`var twitterAuthenticator = new OAuth1Authenticator(
                "blabla",
                "blabla",
                new Uri("https://api.twitter.com/oauth/request_token"),
                new Uri("https://api.twitter.com/oauth/authorize"),
                new Uri("https://api.twitter.com/oauth/access_token"),
                new Uri("https://auth.heapshow.com/signin-google"),

[2017-10-01 10:01] moljac commented on #236
@KoenkookpotPlasmans

Because "Parameter" object passed to the target page for the navigation in UWP and its type is System.Object. And I passed OAuthXAuthenticator, so System.Object is casted on that line to OAuthXAuthenticator.

So, I inherited this project almost accidentally and do dig through the code to understand it and refactor some things. Unfortunately most of developers that started thi

[2017-10-01 13:20] KoenkookpotPlasmans commented on #236
@moljac
Thanks for the elaborate answer.
I knew there was some technical baggage build-up throughout the years.
But I'm glad you're getting on top of things! Seems like a frustrating job when there is no information available ;-).

My apologies if my ticket seemed a bit 'short' and quite direct.

Keep up the good work!

[2017-10-03 16:45] SirLanceLang commented on #206
Seems to be the same that is reported in 217 for Google and Mircrosoft as well.
https://github.com/xamarin/Xamarin.Auth/issues/217

[2017-10-04 12:15] DVDPT opened #237 "UWP, Desktop Back button not showing, when AllowCancel = true. [Fix Inside]"
# UWP, Desktop Back button not showing

### Version

Any

### Steps to reproduce

1. Create a Xamarin.Forms, app
2. Initialize a `OAuth2Authenticator` (set AllowCancel to true) and run `OAuthLoginPresenter.PlatformLogin(auth)` on UWP Desktop
3. Note that the back button does not show, forcing the user to close the app in order to go back.

Platform:

UWP Any version on the Desktop

### Expected be

[2017-10-05 13:20] bartdkmediahuis commented on #223
From time to time we face this issue as well.
Ofcourse a reinstall can not be the "solution" for this problem ?

Any tips on how to tackle this issue ?

[2017-10-05 15:15] nielscup commented on #205
+1 for AccountManager: another huge benefit is that you kan use the same account for multiple apps. This is not possible with KeyStore because this is only accessible to the owning app.

[2017-10-07 09:26] higher-faster-better opened #238 "Facebook login failed with Xamarin.Auth"
I am developing an app that needs Facebook and Google login in Xamarin Forms.

I found a guidance here for social login.
https://developer.xamarin.com/guides/xamarin-forms/cloud-services/authentication/oauth/

I was able to get success in Google login with that guidance

Here is the code that I've tried for Google login.

        string clientId = null;
        string redirectUri = null;

[2017-10-07 11:03] moljac commented on #238
@higher-faster-better

Do not worry about your English.

FB `redirect_url` is not docummented. It was found by one community member in the code of FB SDK and it looks like this:

https://github.com/xamarin/Xamarin.Auth/blob/master/samples/Xamarin.Forms/Evolve16Labs/05-OAuth/Portable/Views/SamplesQuick/ProvidersSamplesQuickPage.Facebook.xaml.cs#L69

so for you:

[code]

Close the issue if this help

[2017-10-07 17:14] higher-faster-better commented on #238
WOW, It works for me, I really appreciate. @moljac
Thanks.

[2017-10-08 07:35] Amenti commented on #194
I would love some update on this. It would make working with Xamarin.Auth a great deal easier.

[2017-10-09 07:02] higher-faster-better commented on #238
More question here for facebook login in android

It doesn't need to add following code to manifest file?
[code]

[2017-10-09 07:24] higher-faster-better commented on #238
If I add it to manifest, the app crashes during facebook login.
If I don't add it to manifest, the control is not return to app.

Thanks for your help!

[2017-10-10 16:06] kylewhittington commented on #226
Having the same issue, but using Google to authenticate. I've read a bunch of other forum posts of people talking about the issue, but I am yet to find someone saying how to solve it other than when it got close around here (https://forums.xamarin.com/discussion/92903/xamarin-forms-with-xamarin-auth-on-android-ios) and then nothing.

This happens to me on all the versions I'm testing and it's a ve

[2017-10-10 20:26] moljac commented on #238
@higher-faster-better
Do not edit AndroidManifest.xml manually - use c# Attributes you have intellisense/autocomplete etc:
See here

https://github.com/moljac/Xamarin.Auth.Samples.NugetReferences/blob/master/Xamarin.Forms/Evolve16Labs/Droid/Xamarin.Auth/ActivityCustomUrlSchemeInterceptor.cs#L32

and here

https://github.com/moljac/Xamarin.Auth.Samples.NugetReferences/blob/master/Xamarin.Forms/Evol

[2017-10-10 20:37] moljac commented on #226
@zati- @kylewhittington

This is how you can test your registered scheme:

[code]

In your intent there is only `myapplogin` defined, but no `DataHost[s]` (`localhost`) or `DataPath[s]` (oauth2redirect).

I haven't played with all options.

You call

[code]
so events should be raised!

[2017-10-10 20:47] moljac commented on #194
@Amenti

Adding .NET Standard support made my life hell. 1.5.0.4 is waiting for almost 2 months to be published. It is easier for 1 (OK few users), but not all.

@bartvdbilt

Cake script in the root. targets = {lib, nuget} compile on my 2 macs and 2 different VMs and one PC, but not on our CI bots. Investigating those issues. Currently 1.6 targeted.

[2017-10-11 08:32] moljac commented on #194
@bartvdbilt

NOTE: you'll need to have parallel VS2015 and VS2017 installations. VS2015 cannot handle .NET standard projects and VS2017 WinRT (Windows [Store] and Windows Phone) and Windows Phone Silverlight. I had to split solutions again because of that.

Every update to VS2017 will most likely render VS2015 installation unusable. The workaround (tried everything) is to uninstall VS2015 and rein

[2017-10-11 14:06] dansiegel commented on #194
I noticed there is now a netstandard project. I might ask why on earth the decision was made to go with 1.6. That seems like a really poor choice IMO. 1.4 is the highest you can really go and maintain support with UWP, and 2.0 support for UWP while close isn't quite there AFAIK. Besides if you have an existing PCL you can usually get away with 1.0 or 1.1.

[2017-10-11 16:24] #238 closed

[2017-10-11 18:10] ipsmobile commented on #146
Hello,
I have a standalone UWP application(no Xamarin Forms) where I am using Xamarin.Auth(1.5.0.3). After wiring everything up and firing the frame.Navigate(authenticator.GetUI(),authenticator), the page seems to navigate to a blank screen, but I never see the login screen. I am missing something or doing something wrong? Here is the code that I am using:

private void btnAuthenticate_Click(objec

[2017-10-12 05:29] Amenti commented on #194
@moljac I can imagine the pain. Thanks for your hard work!

[2017-10-12 15:19] Emixam23 commented on #146
Are you using it from PCL?

[2017-10-12 22:06] ipsmobile commented on #146
Thanks a lot Emixam23. Your solution worked like a charm. Do you have any idea as to why the Xamarin.Auth component doesnt work the way it works for iOS/Android?

[2017-10-12 22:16] ipsmobile commented on #146
As a matter of fact, it does work. I know the mistake I was doing. I was using frame.Navigate(authenticator.GetUI(), authenticator) where authenticator is a fully initialized class of type Xamarin.Auth.OAuth2Authenticator.

Here is the full sample for someone like me struggling for more than 4 hours to get this up and running:
public sealed partial class MainPage : Page
    {
        private OAuth

[2017-10-12 22:18] Emixam23 commented on #146
It works perfectly for you over UWP? Because for me.. it doesn't work that well ... In android you need a shape interceptor ;)

    [Activity(Label = "CustomUrlSchemeInterceptorActivity", NoHistory = true, LaunchMode = LaunchMode.SingleTop)]
	[IntentFilter(
		new[] { Intent.ActionView },
		Categories = new[] { Intent.CategoryDefault, Intent.CategoryBrowsable },
		DataSchemes = new[] { "com.googleu

[2017-10-13 16:36] moljac commented on #194
@dansiegel

I won the bet. I said as soon as .NET Standard support version war will start. I'm no .NET Standard expert (did not have time to learn more about it, because of Xamarin.Auth), so 1.6 was the lowest version w/o changes in code.

Did analysis with Portability Analyser:

https://marketplace.visualstudio.com/items?itemName=ConnieYau.NETPortabilityAnalyzer

and

https://icanhasdot.net/

I w

[2017-10-13 16:46] dansiegel commented on #194
If you're doing a rewrite I might suggest updating to multitarget and use a single csproj. You can use the [MSBuildSdkExtras](/onovotny/MSBuildSdkExtras) from @onovotny. Feel free to ping me on Xamarin Chat if you have any questions, I've done this sort of thing on several libraries.

[2017-10-13 17:04] ipsmobile commented on #146
Yes. UWP has something similar to what you have written for Android.

1. In Package.manifest, you will have to add a declaration. This is essentially something like advertising that the app should open up in response to some event handled by the OS.
   a) Select Protocol under "Available Declarations" and click "Add". Name field is mandatory. You need to specify a value that you are passing in the

[2017-10-13 17:05] moljac commented on #194
I'm doing partial rewrite/refactoring. I added several utility classes to encapsulate OAuth concepts, so I can add unit tests for querys, parameter checks, state generation, grant type deduction etc...

I'm a bit afraid to do huuge changes because of backward compatibility and the team size of 1.

Thanks for the link I will read about it and ping you if something is not clear for me.

[2017-10-13 17:54] Emixam23 commented on #146
Nice man ! I'll take a look ASAP thank you ! I'll come back to you once I tried it

[2017-10-16 13:57] bartdkmediahuis opened #239 "AndroidAccountStore - LoadEmptyKeyStore - KeyStore was not initialized"
# Xamarin.Auth Issue

### Version
- [ ] nuget version = 1.5.0

### Steps to reproduce

1. Hard to reproduce this issue, since we only have exception logs of end-users facing this problem.

[code]
Wondering if this specific code is still required ? (**AndroidAccountStore**)

<summary>Work around Bug https://bugzilla.xamarin.com/show_bug.cgi?id=6766 </summary>
void LoadEmptyKeyStore(char[] password)

[2017-10-16 21:31] loanburger commented on #226
I also have this same problem.  I have posted about it on Xamarin.Forums.  Presenter does not close.  I can suppress the message by doign CustomTabsConfiguration.CustomTabsClosingMessage = null;

[2017-10-17 11:45] sinclas commented on #144
Hi,

I have an app experience this problem.  Should I use Xamarin.Soclal from now on?   What is the official work-around.  Stop using this component?

thanks!

[2017-10-17 13:13] hvaughan3 commented on #144
@sinclas Update above version 1.5.0 and set `isUsingNativeUI ` to `true`

[2017-10-17 17:26] sinclas commented on #144
How do I eliminate the schema warning?   I remeber finding some references to that issue in Git but can’t find it.  I have the isUsingNativeUI set to true.

-Thanks!
Steve

[2017-10-19 14:14] RadoslawKubas opened #240 "Facebook NativeUi - how to change user?"
I'm trying to implement Facebook NativeUI authentication in Xamarin.Forms PCL project for iOS, and have following problem.

I created authenticator  in PCL library like this

[code]

It works fine, user can login without any problem with his user and password.

The problem is when user want to login with another Facebook account. Next time login screen looks like that:

![s1](https://user-images.g

[2017-10-19 16:29] moljac commented on #144
@sinclas

Nullify it:

https://github.com/xamarin/Xamarin.Auth/blob/master/samples/Traditional.Standard/Providers/Xamarin.Auth.Sample.XamarinAndroid/MainActivity.cs#L125-L127

[2017-10-23 17:51] helzgate opened #241 "iOS fails using IdentityServer4"
# Xamarin.Auth Issue
I realize this is a long shot but Android works (at least it authenticates me and returns a token containing user roles) using your package with an OpenID server but for some reason on iOS and within Safari, it just keeps bringing up the login prompt over and over with no errors anywhere.  No errors on the OpenID server, no errors in Visual Studio, no errors looking at the dev

[2017-10-24 13:15] helzgate commented on #241
Never mind.  This looks like a .Net issue.  If anyone needs a reference see [THIS](https://github.com/IdentityServer/IdentityServer4/issues/1666) article.

[2017-10-24 13:15] #241 closed

[2017-10-27 03:08] marcelocferdeveloper opened #242 "NativeUi for Instagram works?"
I tried a lot of ways to implement a NativeUi for Instagram but is not working. Redirects me to my redirectpage and nothing works.
If nativeui = false, works perfect.

[2017-10-27 07:00] Emixam23 commented on #231
Hi,

Well, I'm still stuck, I keep working weekly on my project and over UWP, it still doesn't work..

I searched and worked based on what you said and, the problème I got is about the links. I added them as protocols to the apppackagesManifest and it seems like they can't be accepted in the Name fields:

    Logo :
    Display name :
    Name : http://www.facebook.com/connect/login_success.html

[2017-10-27 08:30] RadekES commented on #231
If you are using Facebook Auth with NativeUI than redirect url may be different (shorter):

[code]

It works in iOS and solves the problem with protocol name length in UWP... but actually still not works for me in UWP :) no redirection (protected override void OnActivated(IActivatedEventArgs args) isn't called).... and can't logout/forget successfully logged user in iOS (as I described in my quest

[2017-10-27 11:37] moljac commented on #242
@marcelinhovt

In order for NativeUi to work deep linking (app linking, or on Windows link activation) must be implemented. For that user must find if it is possible to define on Instagram Oauth portal (where client_id is issued) if it is possible to define custom-scheme urls. NOTE: sometimes it will not be possible.

I haven't tried Instagram with Native UI - yet.

After you find if it is possibl

[2017-10-27 11:48] moljac commented on #231
@RadekES

Did you add custom scheme definition in Package.appxmanifest? You need to tell OS which app (your app should be opened for some custom-scheme url).

Are you talking about UWP or iOS? Please do not mix topics it makes reading, answering and troubleshooting very difficult.

For that You must go to Safari (actually device settings) and logout user.

https://github.com/OAuthSwift/OAuthSwift/

[2017-10-27 14:10] RadekES commented on #231
@moljac

Thank you very much for your answe and links. I'm sorry for mixing platforms little bit.

In UWP app manifest I have (with correct ClientId).

[code]

It works fine in Mobile Emulator, but when run code on Local Machine after successfully login it stuck on blank Facebook page, in same code Google auth works fine and redirect back to app.

[2017-10-27 15:33] marcelinhovt commented on #242
Thanks my friend. I will give a try soon!

2017-10-27 9:37 GMT-02:00 moljac <notifications@github.com>:

[2017-10-27 19:01] Emixam23 commented on #231
@RadekES can you provide (with some edit for private data) your UWP AppPackageManifest? Because I don't find where you add these lines of code...

    <?xml version="1.0" encoding="utf-8"?>
    <Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/wi

[2017-10-27 19:48] RadekES commented on #231
@Emixam23  no problem, bigger part bellow, you can just put it inside <Application>. You can also edit easier in manifest editor in VS, like in the picture. In code bellow "fb1234567890123456" is for Facebook and "com.yourcompany.appname" for Google .

![p12](https://user-images.githubusercontent.com/30774825/32122006-2d610cf2-bb5f-11e7-8140-460077981477.png)

[code]

[2017-10-27 20:00] Emixam23 commented on #231
Thank I'll take a look in few minutes :)

[2017-10-27 21:15] Emixam23 commented on #231
I tried:

    <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="http://www.facebook.com/connect/login_success.html" />
        </uap:Extension>
      </Extensions>

But I get this error when I put the cursor over the URL in the source file:

    The 'name' attribute is invalid - The value 'http://www.facebook.com/connect/login_success.html' is invalid a

[2017-10-27 22:07] RadekES commented on #231
[code]

This is protocol name you suppose to use there (of course with you FB client ID), not the link. And when you create authenticator, check my previous example, it is also with ClientId, so in this case redirectUri is "fb1234567890123456://authorize"

[code]

[2017-10-28 08:48] Emixam23 commented on #231
Thank you for your answer, however, after I logged in, the app stay on a white facebook page

[2017-10-28 09:04] RadekES commented on #231
This problem appear when you run on Windows (not mobile), right? If so, this is the problem I mentioned before

And unlucky I didn't find any solution yet for Facebook NativeUI on desktop computer (as I mentioned this code works fine in UWP Mobile)... :( Good news is that with facebook you don't have to use NativeUI and than it works fine :)

Did you try if not NativeUI version will works for you?

[2017-10-28 09:07] Emixam23 commented on #231
I see :)

Ok you know what, I'll try sunday evening (gmt +1) and come back here. (Lucky me) I have a windows phone running UWP so i'll be able to try to move forward on the test :)

[2017-10-30 07:37] Brosten opened #243 "Unable to pop AuthenticatorPage from the Navigationstack"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version
**I'm trying this on a Samsung Galaxy S7 phone (running Android 7.0)**

- [x ] nuget version = 1.5.0.3
- [ ] component version =
- [ x] sample
Just in simple code behind...

      private void Button_OnClicked(object sender, EventArgs e)
      {
         var auth = GetOAuth2Authenticator();
         auth.Completed += AuthOnCompleted;

[2017-11-06 18:05] TomQv opened #244 "NullReferenceException in presenter.Login on Windows-desktop"
I'm trying to use Xamarin.Auth 1.5.0.3 in a Windows.Forms app, but get NullReferenceException  in

var presenter = new Xamarin.Auth.Presenters.OAuthLoginPresenter();
presenter.Login(authenticator);

I followed [this tutorial](https://developer.xamarin.com/guides/xamarin-forms/cloud-services/authentication/oauth/) but I also need Windows.Forms and Xamarin.Mac. Most probably I need to change somethi

[2017-11-07 07:53] vaices commented on #139
Create BlankProperty list file iOS, for example
DebugProperties.plist

Right click the iOS project in the solution pane and select Unload Project (if VS2017)
Right click the project again and select Edit [ProjectName].csproj
Locate the Debug PropertyGroups, they should start with flags that look like this:
Debug: <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|iPhoneSimulator'

[2017-11-08 08:34] Emixam23 commented on #231
Hi :)

It doesn't seems to work on mobile neither :(

[2017-11-08 11:16] RadekES commented on #231
Hi! :) Hmm... Checked just no my test code... and on a mobile simulator, it works. What exactly not working in your case on mobile?

[2017-11-08 11:32] Emixam23 commented on #231
The redirection on success, I tried on a Nokia Lumia, let me answer you properly later today :)

[2017-11-09 06:59] Vijay4657 commented on #206
Hi Everyone,
Anyupdate on this issue.?

[2017-11-09 07:02] Emixam23 commented on #206
Is it doing it as well for UWP?

[2017-11-09 12:04] Vijay4657 commented on #206
this issue occurs in android and ios, but i have not checked in UWP.

[2017-11-11 19:30] Asilee opened #245 "403 disallowed_useragent error"
I cannot get my Asus Zenfone 2 past the 403 error. I'm not a developer, I'm not developing an app or trying to use an app. I already tried logging in to the settings on the phone, but to no avail, no matter what I do. I cannot get past the initial phone's set up because of it. Some issue with OAuth and "web-view". I just wanted to verify my account, but nothing works.

I tried googling this situat

[2017-11-14 17:00] moljac commented on #245
@asilee
Seems like settings page of your Asus Zenfone 2 is still using WebView to do OAuth login and you are using google account. WebViews will work with all OAuth service providers, but Google.

Your problem has nothing to do with this library (Xamarin.Auth).

Try updating your phone maybe settings page was changed in the meantime.

[2017-11-14 17:17] moljac commented on #244
@TomQv

Windows.Forms? Not ready yet. Planned.

[2017-11-19 00:16] FlashTek opened #246 "Using OAuthLoginPresenter with OAuth1Authenticator on UWP causes Exception"
# Xamarin.Auth Issue

I am using this code to show a `OAuthLoginPresenter` on Android without any problem.

    _authenticator = new Xamarin.Auth.OAuth1Authenticator(consumerKey, consumerSecret, requestTokenUrl, authorizeUrl, accessTokenUrl, callbackUrl, null, true);
    _authenticator.ShowErrors = true;

    var presenter = new Xamarin.Auth.Presenters.OAuthLoginPresenter();
    presenter.Login(_a

[2017-11-20 11:40] benczuk opened #247 "ComicBook.Droid 1.5.0 broken"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 1.5.0.3
- [ ] component version = 1.5.0.3
- [ ] sample ComicBook.Droid

### Steps to reproduce

1. Pull tag 1.5.0 (or commit 1.5.0.3) from git
2. Build and run ComicBook.droid in Visual studio on physical android device
3. Select native UI, Custom renderers, push modal async
4. Press Google auth and complete pro

[2017-11-20 15:13] benczuk commented on #247
Same issue occurs with Xamarin.Auth.Sample.XamarinAndroid on clicking Google Native UI (pulled from branch master today)

Please let me know if this is a known issue and one you are working on?

[2017-11-20 19:47] moljac commented on #247
It is known issue and I'm working on a new set of samples

[2017-11-21 22:28] ataparia opened #248 ""Error Authenticating - Invalid grant" when you use the OAuth2Authenticator constructor with access token url parameter"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 1.5.0.3
- [ ] component version =
- [ ] sample

### Steps to reproduce

1. Construct OAuth2Authenticator object instance and pass in the AccessTokenUrl parameter.
Eg.
 var authenticator = new OAuth2Authenticator(
                                        authServerInfo.ClientId,
                                        null,

[2017-11-21 22:32] ataparia commented on #248
It was observed that after successful authentication, the CustomUrlSchemeInterceptorActivity was initiated on Android and I could see the code(Authorization Code) in the Intent.Data part, but still the code logic fires the Error event handler.

[Activity(Label = "CustomUrlSchemeInterceptorActivity", NoHistory = true, LaunchMode = Android.Content.PM.LaunchMode.SingleTop)]
    [IntentFilter(

[2017-11-22 01:58] ataparia commented on #248
Here is the stack trace for the error:

  at Xamarin.Auth.OAuth2Authenticator+<RequestAccessTokenAsync>c__async0.MoveNext () [0x0017d] in <347784a7d58c449896f76cefd9e360c2>:0

[2017-11-23 08:59] kggp1995 commented on #144
So guys, we are stuck at the "Authenticate" web view (i.e., FB consent screen) once the user successfully logs in. I am now aware that FB is inhibiting auth via WebView. But what workaround does Xamarin offer?

All help and references are appreciated!
TIA
  _
<X>
  ‾‾

[2017-11-24 15:06] Brosten opened #250 "UWP shows blank page in desktop, but works on phone"
- [x ] nuget version = 1.5.0.3

We have our own OAuth2 server/provider.
To use it, we use this code in the UWP LoginPage-renderer
[code]

This works great if used on a Windows Phone (10), but when running it local (on my desktop), I just end up on a blank screen. (Instead of the login screen provided by our Oauth2 server). iOS and Android works like a charm.

Also interesting is that using microso

[2017-11-24 18:39] moljac commented on #248
@ataparia

Which OAuth provider is this? Is this OpenID?

[2017-11-24 18:59] moljac commented on #250
@Brosten
Hej

https://ourOauth2Server.se/connect/authorize?client_id=xyz&redirect_uri=xyz&response_type=token&scope=xyz&state=xyz

This looks OK.

https://ourOauth2Server.se/login?signin=someGuid

This might be problem. What happens after login?

2 completely different OAuth Grant Types - `response_type=token` is for Implicit AKA Client-Side Flow used in browsers and sometimes devices, while `resp

[2017-11-24 21:04] ataparia commented on #248
Its a custom provider that has been developed in our company. I think its OAuth2 based provider.

[2017-11-28 07:03] higher-faster-better commented on #240
any solution here?

[2017-11-28 10:25] Brosten commented on #250
We found the solution.
In Package manifest >> Capabilities
Check the "Private Networks (Client and Server)" checkbox

[2017-12-01 08:05] mdonogma opened #251 "please update the xamarin component store to indicate UWP / windows support"
if this supports UWP then please ship a working build with UWP to the xamarin component store.

after hours of searching i cam across this repository however xamarin component store outdated.

[2017-12-04 07:40] prashantvc commented on #85
@erickrivas We made lot of changes since this issue is reported. Do you still see this issue? Could you share the diagnostic build output if you still see this issue?

[2017-12-06 07:29] georgethms10 opened #252 "Showing "the user+denied+your+request" Popup on clicking cancel in LinkedIn authentication screen"
# Xamarin.Auth Issue

Showing "the user+denied+your+request" Popup on clicking cancel in LinkedIn authentication screen

### Version

- [ ] nuget version = 1.5.0.3 IOS
- [ ] nuget version = 1.3.1 ANDROID
### Steps to reproduce

1.Click the liked in login button
2.In the linkedIn authentication page click cancel
3.An error message is shown "the user+denied+your+request"

Platform:
-   Android and I

[2017-12-06 09:46] prashantvc commented on #86
We are deprecating the Component store, and migrating all the existing [packages to Nuget](https://blog.xamarin.com/hello-nuget-new-home-xamarin-components/).
Now complete package should be available in the nuget ste

[2017-12-06 10:29] moljac commented on #251
@mdonogma
Packing component is very complex - samples, docs etc. And I simply did not have time to do it.

And another problem: component store is being sunset... (nice wording) Everything will be on nuget.
We are considering how to solve problems to deploy samples and docs on nuget.

And if this answer is good enough - please close the issue.

Thanks

[2017-12-06 20:24] mathieumack opened #253 "Be able to add settings on the Android Web view"
# Xamarin.Auth Issue

### Feature description

When we used the Xamarin.Android assembly for our application we have some errors on the page rendering Inside the webview.
Our OAuth provider says that we need to update the webView object settings to add these lines :
webView.getSettings().setUseWideViewPort(true);
webView.getSettings().setLoadWithOverviewMode(true);
(Java version of the code sample

[2017-12-07 15:57] Brosten commented on #202
Just want to bump this a bit. I experience the same problem. Feels like one of the more critical UWP-issues. Please fix.

[2017-12-07 16:04] Brosten opened #254 "ClearCookiesBeforeLogin doesn't seem to work on UWP"
- [x ] nuget version = 1.5.0.3
- [ ] component version = 2.5.x

....
auth.ClearCookiesBeforeLogin = true;
var presenter = new Xamarin.Auth.Presenters.OAuthLoginPresenter();
presenter.Login(auth);
....

The second time I call presenter.Login() on UWP, I get redirected to the "Successful login" page (redirectUrl). This does NOT happen och Android or iOS.
I guess the correct behaviour when ClearCooki

[2017-12-08 17:15] SuhanKoh opened #255 "Is refreshing the page available in the api?"
Hello, just wondering if there is something in the code that let me refresh the screen? or go back to the first page?

[2017-12-08 22:05] moljac commented on #255
@SuhanKoh
Sorry I'm confused? Which screen? 1st page? I need more context...

[2017-12-08 22:06] moljac commented on #254
@Brosten
NativeUI?

[2017-12-08 22:17] moljac commented on #253
@mathieumack

Are you aware how much "specific OAuth providers" are there? Are all of them according to RFC? Not malicious?

This request seems like reasonable one, but it implies maintenance etc...

Security implies a bit restrictions. It is possible to expose everything, but if that makes sense is another question.

Let us discuss it and we ll get back

[2017-12-08 23:52] SuhanKoh commented on #255
Sorry, what I meant to say was, if I display an oauth page for the user to login, and there might be some buttons on the page that lead the user to another html page, hence I am asking if there is a way to control in the API that let me add a button to go back to the login page or even let the user perform back button?

[2017-12-09 06:24] Brosten commented on #254
No (not native ui). Or... I'm not specifying the flag, so i think it defaults to false. Hasn't really understood the nativeui-option...

[2017-12-09 09:15] mathieumack commented on #253
Hi, thank you for your answer.
I understand that you can't valid all requests ;)

My Customer used actually an idenitity solution based on Ping Identity (https://www.pingidentity.com/en.html).

But when I used the Xamarin.Auth plugin to allow users to logon, the webpage showed in the WebView is not responsive on tablets. After long discussions with the dev team that manage the Authentification Pla

[2017-12-11 09:14] Emixam23 commented on #251
Hey @mdonogma

It works with Xamarin :) I have a Xamarin solution (.NET Core 1.6, Android 7.1, iOS, UWP Build 16299)

- First, take a look at this video -> https://channel9.msdn.com/Shows/XamarinShow/Snack-Pack-15-Upgrading-to-XamarinForms-to-NET-Standard
- Once you're done with it, install `Coudinary.Core` into each project

There is an example of how you can use it:

    public class CloudinaryS

[2017-12-11 13:33] benczuk commented on #247
Any update on this? does it work at all currently with google on Android? If so what is the workaround / fix

[2017-12-11 19:24] moljac commented on #254
@Brosten

UWP - embedded browser (WebView, Control) was quite new in April-June and I didn't test it thoroughly, so most likely bug.

NativeUI is switched on with boolean flag. On Android and iOS you cannot influence cookies, cache of external/system browser. I'm sure this is true for Windows platforms too.

[2017-12-11 19:26] moljac commented on #247
@benczuk
Check older versions (June-August).

This is my repo with extracted samples:

https://github.com/moljac/Xamarin.Auth.Samples.NugetReferences

Again, check older versions.

[2017-12-11 19:32] moljac commented on #251
@Emixam23 Thanks.

`Coudinary.Core` is some wrapper around Xamarin.Auth??

cool

[2017-12-11 19:35] moljac commented on #252
@georgethms10

Why:

and

????

Two nuget versions?

[2017-12-11 19:37] moljac commented on #252
What are you doing with this app?

This is not OAuth error, but error from LinkedIn that user rejected some request (LinkedIn connect or similar).

[2017-12-11 20:00] itlks commented on #165
@nolanblew Yep, that's it. Still with the same bug. Works fine adding manually.

[2017-12-11 20:07] moljac commented on #255
@SuhanKoh

In non-NativeUI version maybe with some HTML/js injection in the loaded page (so HACK), but I NativeUI - I'm pretty sure you can do nothing/nada/zilch/nichts...

In embedded browser version there might be added API for something like that, but that will be very low on the list of stuff that must be done for Xamarin.Auth.

[2017-12-12 03:12] ammarMheir commented on #243
@Brosten Were you ever able to figure out what caused this issue?

[2017-12-12 05:47] Brosten commented on #243
@ammarMheir no, sorry. Think it's just a bug in the xam auth component.

[2017-12-12 08:58] georgethms10 commented on #252
Both nuget version(1.3.1 and 1.5.0.3) have this issue!!

Is there any way that we could actually stop showing this message.

i initialise authrequest only once but when hitting cancel in the linked in page, i get two callbacks inside Oncancel callback

`auth2Request = new OAuth2Authenticator(
					clientId: Api.clientIdLinkedin,
					clientSecret: Api.clientSecretLinkedin,
					scope: Api.scopeLin

[2017-12-12 10:53] Emixam23 commented on #251
My bad, I've posted tooo fast so not on the good thread....

[2017-12-12 13:07] Brosten commented on #237
Please set high priority for this one...

[2017-12-12 13:56] moljac commented on #245
Closing this one as not relevant to Xamarin.Auth

[2017-12-12 13:56] #245 closed

[2017-12-14 01:48] anthonyliriano opened #256 "Xamarin.Auth.AccountStoreException"
[SOLVED]

[2017-12-16 09:47] Cariaga commented on #168
Problem still persist
 ` Activity activity = this;

            var auth = new OAuth2Authenticator(
                  clientId: "myclientid",
            scope: "",
            authorizeUrl: new Uri("https://m.facebook.com/dialog/oauth/"),
            redirectUrl: new Uri("http://www.facebook.com/connect/login_success.html"));

            auth.Completed += (sender, eventArgs) => {

[2017-12-18 15:40] #186 closed

[2017-12-19 10:19] moljac commented on #186
Do you hit Activity with IntentFilter during debugging??

Seems like IntentFilter is not hit for Android!

I can recall there is is

Can you check if this is the same issue?

https://github.com/xamarin/Xamarin.Auth/issues/237

And add your info there pls.
Thanks

[2017-12-19 16:22] SOHODeveloper commented on #229
@moljac I too would really love to see a separate AuthStore package that targeted .NetStanadard 2.0.

[2017-12-20 08:44] Emixam23 commented on #250
Hey,

I am probably outta subject but I just wanted to check if Xamarin.Auth has moved forward over UWP and works today. I didn't want to open a thread and it seems you're working with it, so I am asking you :)

Thanks :)

[2017-12-20 09:59] Brosten commented on #250
@Emixam23 From what @moljac says, they are currently working on a patch, mainly targeting UWP-issues. Don't know when we can expect it, but hopefully it's not too far away.

[2017-12-28 02:25] hlubovac commented on #194
It's odd that `<TargetFramework>netstandard2.0</TargetFramework>` is being promoted throughout, while components like this are out of date. Imagine how those (myself included) just beginning to dive into this can get confused.

I'm in this situation:
![image](https://user-images.githubusercontent.com/3127736/34398361-9165eb44-eb3b-11e7-9f91-1eca79153f6b.png)

Can anyone can suggest how to make thi

[2018-01-02 06:10] nmano2188 opened #257 "safari cannot open the page because the address is invalid in ios"
Works perfectly in Android. But for iOS, after selecting account, i got the following error.
"safari cannot open the page because the address is invalid"

I'm using device to test app.
Any work around?

[2018-01-03 17:44] benczuk commented on #247
Sorry for the slow reply,

Are you saying it works in a older version or asking me to test them?

I cannot get google auth to redirect to my specified url so the app picks it up at all in any version of the library i have tried

[2018-01-04 05:21] nmano2188 commented on #257
I fixed now. Thanks

[2018-01-04 05:21] #257 closed

[2018-01-06 18:37] Emixam23 opened #258 "Method 'Android.Support.CustomTabs.CustomTabsIntent.LaunchUrl' not found."
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 1.5.0.3
- [ ] component version = 26.0.1.0
- [ ] xamarin forms version = 2.5.0.121934
- .NET Core 2.0 & Android 8

### Steps to reproduce

1. Update Xamarin.Forms, Xamarin.Android.*, Xamarin.auth to the versions above
2. create a Auth client with **isUsingNativeUI = true**

        // An example of code
        public OAuth2Authenticator Aut

[2018-01-07 12:35] DamonWick commented on #240
Radoslaw can you share the complete code on this page

[2018-01-09 10:56] moljac commented on #258
Xamarin.Android.Support version?

[2018-01-09 11:22] Emixam23 commented on #258
Component version 26.0.1.0

[2018-01-09 14:51] #86 closed

[2018-01-09 15:01] prashantvc commented on #85
Because we have not received a reply to our request for more information, I am marking this issue as closed. If you are still encountering this issue on the latest version of the plugin, please don’t hesitate to reopen the ticket with the requested information. Thanks!

[2018-01-09 15:01] #85 closed

[2018-01-09 15:28] prashantvc commented on #163
@maxdiable Could you elaborate the your question? Xamarin.Auth is library to authenticate an user, it does not include Facebook APIs.

You may want to take a look at the [Facebook graph API](https://developers.facebook.com/docs/graph-api/)

[2018-01-09 15:28] #163 closed

[2018-01-09 22:19] mathieumack commented on #253
Hi !
I have forked the project, try to change the webview settings, but I have the same problem.
After some more research, I've found a user that has the same problem with the Xamarin.Auth plugin:
https://stackoverflow.com/questions/29334279/xamarin-android-javascript-not-loading-in-webview-when-using-xamarin-auth
As this user, my problem appears on a Samsung Galaxy S3.
Do you know if this device

[2018-01-15 15:24] moljac commented on #258
Can you try to turn of linking?

[2018-01-15 15:38] Emixam23 commented on #258
I already did that :/

[2018-01-16 03:16] MobileRez opened #259 "Xamairn.Auth causing System.IO.FileNotFoundException when trying to build"
# Xamarin.Auth Issue

When building with a .net standard 2.0 project app errors with:
		Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'Xamarin.Auth, Version=1.3.0.0, Culture=neutral, PublicKeyToken='. Perhaps it doesn't exist in the Mono for Android profile?
File name: 'Xamarin.Auth.dll'
   at Java.Interop.Tools.Cecil.DirectoryAssemblyResolver.Resolve

[2018-01-16 05:30] prashantvc commented on #110
OAuth libraries doesn't return complete profiles data from the Facebook, you need to use the Facebook's graph API if you need to query any additional data. See @rahul-sivalenka-wtc's comment above

[2018-01-16 05:30] #110 closed

[2018-01-16 07:58] Emixam23 commented on #259
Hey !

I already had this error however, I am not sure to remember how to correct it. Just try to update your Xamarin.Android.* nugets and/or update your Android SDK :)

Hope it helps !

[2018-01-16 14:41] MobileRez commented on #259
Thanks Emixam23, I already tried that and i am using the latest of everything. even manually added the chrome custom tabs to try and fix it.

[2018-01-16 15:54] Emixam23 commented on #259
Alright :) I have a last idea, what is your version of Android SDK? Try to put 8, I say tht because you aren't talking about it so I don't know if you're using the 7 or the 8

[2018-01-16 17:15] MobileRez commented on #259
I am using 8 I tried 7 and 8 for Android version and that didn't help. I
get errors with iOS as well, though those are different errors but I
appreciate the help.  I also get intermittent errors with pclcrypto and
microsoft.bcl.build but pclcrypto gives me a warning triangle when I
manually install it and it still doesn't fix the pclcrypto error

On Jan 16, 2018 9:54 AM, "Maxime GUITTET" <notifica

[2018-01-17 13:12] VadyaVL commented on #194
Hello everybody.
Someone can say when will Net Standard 2 support?

[2018-01-17 15:58] leticiagheno commented on #194
Hey!
Any news?

[2018-01-17 20:20] bmolinab commented on #259
Test installing the other nugets dependencies
**PCLCrypto
PInvoke.NCrypt
Validation**

it worked for me

[2018-01-17 20:24] MobileRez commented on #259
those install fine, its the Xamarin.Auth nuget that gives me the build
errors.

Mitch Muenster
Microsoft MVP, Xamarin Certified Developer, Autistic, AR & VR Enthusiast,
Biohacker, & Public Speaker
Twitter: @MobileRez <https://twitter.com/mobilerez>
mitchmuenster.com
Microsoft MVP Profile
<https://mvp.microsoft.com/en-us/PublicProfile/5002013?fullName=Mitch%20%20Muenster>

On Wed, Jan 17, 2018 at 2

[2018-01-17 20:25] MobileRez commented on #259
I also tried installing those first thinking there was issues pulling in
dependencies.

Mitch Muenster
Microsoft MVP, Xamarin Certified Developer, Autistic, AR & VR Enthusiast,
Biohacker, & Public Speaker
Twitter: @MobileRez <https://twitter.com/mobilerez>
mitchmuenster.com
Microsoft MVP Profile
<https://mvp.microsoft.com/en-us/PublicProfile/5002013?fullName=Mitch%20%20Muenster>

On Wed, Jan 17, 2

[2018-01-17 20:29] MobileRez commented on #259
Exception while loading assemblies: System.IO.FileNotFoundException: Could
not load assembly 'Xamarin.Auth, Version=1.5.0.0, Culture=neutral,
PublicKeyToken='. Perhaps it doesn't exist in the Mono for Android profile?
File name: 'Xamarin.Auth.dll'
   at
Java.Interop.Tools.Cecil.DirectoryAssemblyResolver.Resolve(AssemblyNameReference
reference, ReaderParameters parameters) in
/Users/builder/data/la

[2018-01-17 20:38] bmolinab commented on #259
I install the nugets in the whole solution in the three projects
[<a href="https://imgbb.com/"><img src="https://image.ibb.co/ckMybm/nugets.png" alt="nugets" border="0" /></a>](url)

[2018-01-17 20:41] MobileRez commented on #259
yes If i have both the xamarin auth and xamarin.auth.forms it says I have
duplicate instances of Xamarin.Auth. so I have to uninstall one of them.
just using Xamarin.Auth does build however.

Mitch Muenster
Microsoft MVP, Xamarin Certified Developer, Autistic, AR & VR Enthusiast,
Biohacker, & Public Speaker
Twitter: @MobileRez <https://twitter.com/mobilerez>
mitchmuenster.com
Microsoft MVP Profile

[2018-01-17 20:43] MobileRez commented on #259
likewise im glad you all are able to get it installed but this packages
behavior is so inconsistent... each time i think i fix it a different or
new error pops up. and its only happening with this package.

Mitch Muenster
Microsoft MVP, Xamarin Certified Developer, Autistic, AR & VR Enthusiast,
Biohacker, & Public Speaker
Twitter: @MobileRez <https://twitter.com/mobilerez>
mitchmuenster.com
Micros

[2018-01-17 22:17] MobileRez commented on #259
okay after a ton of attempts its building and loading but now all the calls
are returning net::err_Connection_Refused with the comic book sample... and
cant find where to set up intents to fix it... *sigh*

Mitch Muenster
Microsoft MVP, Xamarin Certified Developer, Autistic, AR & VR Enthusiast,
Biohacker, & Public Speaker
Twitter: @MobileRez <https://twitter.com/mobilerez>
mitchmuenster.com
Micros

[2018-01-18 09:08] garymedina commented on #194
Bump!

Much needed update please!

[2018-01-18 11:12] lennondorneles commented on #194
Hello everybody.
Any news? Really is a very important update for everyone.

[2018-01-23 12:57] pricrmartins commented on #194
+1

[2018-01-24 10:32] antosubash opened #261 "Oauth2 with Authorization Code Grant not working"
# OAuth2 Authorization Code Grant flow not working
With parameters:
*   clientId
*   clientSecret
*   scope
*   authorizeUrl
*   redirectUrl
*   accessTokenUrl

is not working as expected. after the authorization is successful redirectUrl is triggered instead of the accesstokenUrl.

### Version

- [ ] nuget version = 1.5.0.3
- [ ] component version = 26.0.2
- [ ] xamarin forms version = 2.5.0.1219

[2018-01-25 20:41] dfoulk commented on #194
+1

[2018-01-26 12:25] VadyaVL commented on #194
Hello everybody. As a solution, we can only use this library in Android and iOS apps.
You need to use it PageRenderer with your OAuth logic.
The code is usually bigger. But as a temporary solution will be useful.

[2018-01-26 12:31] cbfrank commented on #258
@Emixam23 I get this error also, and my solution is to add the pacakge Xamarin.Android.Support.CustomTabs to your android project.
After added this pacakge, I got lots of compiler error as below:
Error		error: cannot find symbol
	extends android.support.customtabs.CustomTabsCallback
  symbol:   class CustomTabsCallback
  location: package android.support.customtabs
The solution for the compiler er

[2018-01-26 15:42] jdtrepanier commented on #194
+1

[2018-01-26 21:14] dfoulk commented on #194
Thanks @VadyaVL for the tip!

[2018-01-27 14:08] benczuk opened #262 "Google Auth doesn't fire redirect handler"
Xamarin forms app Android version, xamarin.auth 1.5.0.3
Android 8.1.0

In my app the custom URL handler is never called. Once I have authenticated with google using native UI the webpage redirects to google.com and my redirect handler never fires (break point not hit).

The same code is in use on iOS and works perfectly there.

The same behavour is evident in ComicBook.droid on android

Is Google

[2018-01-28 22:50] VadyaVL commented on #262
Hello. If you have a package: **Project.Android**
I recommend trying to replace it with **project.android** (or **com.company.project**) (_use lower case letters_).
It helped me.

[2018-01-30 04:46] nmano2188 opened #263 "App crashed on iOS 11.2 device"
App get crashed after return from browser only in ios 11.2

App works in ios 10.3 and android device and i'm using real device to test the app.

Any workaround?

[2018-01-30 10:09] mathieumack commented on #253
Hi !
After many  fork and rebuild, I've found a solution to my problem !
At the origin, when the Webclient shows the webpage, the content was not adapted to mobile devices with high dpi.
The solution was to update the mininum sdk version used to package my application from Level 15 to Level 19.
With this fix, the page login is showed correctly ! Without Adding javascript options.

[2018-01-30 10:09] #253 closed

[2018-02-01 09:09] nmano2188 commented on #263
The problem was caused by dynamic keyword.

The DynamicMethod class is a part of the set of runtime code generation features that reside with System.Reflection.Emit. However,System.Reflection.Emit API is not available in iOS.

For details, refer to [https://www.wintellect.com/cant-use-dynamic-c-keyword-xamarin-ios/](https://www.wintellect.com/cant-use-dynamic-c-keyword-xamarin-ios/)

This solves m

[2018-02-01 09:09] #263 closed

[2018-02-01 21:05] orionstudt commented on #194
Bump! Would love an update on this!

[2018-02-02 12:34] shahzshafie commented on #146
hello...

First thing... it's been a long discussion in here.. and i do think Xamarin.Auth is still a good library despite the readme files are not updated.

I had spent days to weeks to get iOS and Android working by looking at samples provided. Glad to say it is working (for Google) I have not tried Microsoft's login yet). I use MSAL for that..

Anyways, I'm new to Xamarin Auth and i've been str

[2018-02-02 13:37] benczuk commented on #262
Thanks for the suggestion, but my package is already lowercase

[2018-02-03 05:34] shahzshafie commented on #229
found this while looking for a separate a secure storage nuget package

https://github.com/sameerkapps/SecureStorage

[2018-02-05 13:54] moljac commented on #261
Are you using NativeUI?

If yes, what is `redirect_url`?

[2018-02-05 14:21] antosubash commented on #261
Yes, I'm using Native UI.` redirect_url `is  https://landsense.eu/birdlifeapp which is a custom URL for getting back to the app.

[2018-02-05 16:00] botfx commented on #226
I have the some issue in Google, Microsoft and Facebook using nativeUI (on Android).

[2018-02-06 10:14] bastianbecker21 commented on #238
@moljac In Android, it doesn't return to app automatically after login successfully done. Can you give me any hint or solution for it?
Thanks.

[2018-02-06 10:21] higher-faster-better commented on #238
hi @moljac
I have same issue. It doesn't back to main app automatically.
Please give me a solution...

Thanks.

[2018-02-06 15:07] shivaprakashab commented on #252
@georgethms10 Did you find a solution for this issue ?

[2018-02-06 18:38] moljac commented on #261
With `http` or `https` scheme you will never be able to return to the app. System Browser will always handle those schemes.

[2018-02-07 15:57] AllenFoster opened #265 "Feature Request: Xamarin Forms OKTA Sample"
I have tried to use Xamarin.Auth in an cross platform Xamarin Forms (specifically iOS) app along with my developer account at OKTA but am observing an NullReferenceException when executing the following line of code in the PCL project:
presenter.Login(authenticator);
It would be great to see a working example. I have noticed a variety of forums where users of Xamarin.Auth have observed the same is

[2018-02-07 16:10] moljac commented on #265
Did you initialize Presenters?

https://github.com/moljac/Xamarin.Auth.Samples.NugetReferences/blob/master/Xamarin.Forms/Evolve16Labs/Droid/MainActivity.cs#L25

https://github.com/moljac/Xamarin.Auth.Samples.NugetReferences/blob/master/Xamarin.Forms/Evolve16Labs/iOS/AppDelegate.cs#L21

etc...

[2018-02-07 18:31] AllenFoster commented on #265
Thanks! My bad for missing that step.
No longer getting the NullReferenceException, however now I'm getting the following response from OKTA when executing the presenter.Login code:
errorCode: E0000022, The endpoint does not support the provided HTTP method.
I think I properly specified the authentication, redirect and token URL and specified the correct URL scheme in the info.plist, e.g. com.okta

[2018-02-07 19:15] mikegottlieb commented on #223
I'm guessing by the lack of activity on this issue that there is no word on when a fix might be available.

[2018-02-09 10:53] moljac commented on #265
@AllenFoster

Hi Allen

Glad to hear that.

There must be something service provider specific (settings on the server side) that Xamarin.Auth cannot handle by default or at all.

No idea. Never worked with OKTA. I can put it on very long list of OAuth providers that need samples and docs, but there is nothing related to OKTA right now.

How fast do you need it? I hope it is not "yesterday"...

For

[2018-02-11 20:25] yasmanillanes commented on #261
This is because in the OAuth2Authenticator class we are calling Uri.AbsoluteUri to set the "redirect_uri" parameter for the access token HTTP request. This adds a trailing slash to the redirect URI that many providers reject because it doesn't exactly match the redirect URI passed in the authorize HTTP request step of the process. We should be using Uri.OrginalString instead.

[2018-02-15 13:45] ruigaspar commented on #194
The new preview version "1.6.0-alpha03" works for me!
Thank you @moljac

[2018-02-16 19:00] pme442 commented on #261
I'm think I am having the same issue.  After days of research, I keep coming back to this post.
I am trying to implement authentication via Microsoft in a Xamarin Forms PCL app.
Using NativeUI. The redirecturl is {clientid}//:oauth2redirect.
I'm trying to get this working for UWP.
In the UWP app.xaml.cs code, in the OnActivated() function, I am calling AuthenticationState.Authenticator.OnPageLoadi

[2018-02-19 05:23] kevin-granados commented on #194
@ruigaspar  preview version of xamarin.auth works for you on a cross platfrom project? really want this to work. so i can login to twitter on my mobile app. any new?

[2018-02-19 10:30] antosubash commented on #261
I have the same question. I made it work by creating the request for access token manually in the IntentFilter.

[2018-02-19 13:58] pme442 commented on #261
I figured out my problem.
First of all, I found that Xamarin.Auth does take care of requesting the access token so I don't have to do it manually.
I got past the "invalid_client" error by adding a "/" to the end of my redirecturl. (Note: I did this in two places: (1) the app settings in Azure AD, and (2) where I define the redirecturl string in the app code.)
Then, I started getting an "invalid_re

[2018-02-19 17:21] pme442 commented on #146
I am getting this popup window, too.  Any updates on how to get rid of it?

[2018-02-21 06:32] IngweLand commented on #167
Still have this linker issue with version 1.6.0-alpha03 and 1.6.0-alpha04.
The fix is to explicitly install Xamarin.Android.Support.CustomTabs nuget. By default, Xamarin.Auth resolved to 23.3.0 and that cased the issue. I manually installed current latest version (26.1.0.1) and the issue is gone.

[2018-02-21 09:39] mpapadis commented on #257
@nmano2188 How did you fix it? I have the same problem.

[2018-02-21 10:22] manonaga2188 commented on #257
Follow this

![ios xamarin auth](https://user-images.githubusercontent.com/35101045/36474952-34288bca-171f-11e8-9e77-92b0c31575cd.png)

[2018-02-21 12:17] ruigaspar commented on #194
@kevin-granados I don't know, I'm only using for store the user login data...

[2018-02-22 05:38] ahoefling commented on #258
I've ran into this problem before, and I just need to add the correct version of Xamarin.Android.Support.CustomTabs like @cbfrank  mentioned.

[2018-02-23 14:11] Phenek opened #266 "Move storing Credential on another nugget with correct dependency"
# Xamarin.Auth Issue
Hello Guys, I want to use Xamarin.Auth just to store credential securely, I don't need others stuff.

### Actual behaviour
I installed it on IOS and works great by using:
AccountStore.Create() etc...
But on Android:
_first I installed Xamarin.Auth package (it's throw me a Null reference exception)
_Then I got "can't load PCLCrypto.dll", so I try Installed it
but it wasn't enou

[2018-02-24 17:12] FrankChen021 opened #267 "UWP app fails to start because of 'Entry Point Not Found' exception"
# Xamarin.Auth Issue

release version of a UWP app fails to start, and an exception dialog shows as
![image](https://user-images.githubusercontent.com/6525742/36632885-2d5611e6-19c7-11e8-98d1-7f46f521e2d1.png)
but debug version works well

### Version

- [ ] Xamarin.Auth = 1.5.0.3
- [ ] Microsoft.NETCore.UniversalWindowsPlatform = 6.0.1

### Steps to reproduce

1. create a blank Cross-Platform app

[2018-02-24 18:28] moljac commented on #266
PCLCrypto has dependencies which cause problems in some cases. Try removing PCLCrypto, all its dependencies and Xamarin.Auth and then re-add. This helps in most cases.

Regarding

and

Please update title/subject so that it really reflects the true issue (AccountStore). BTW there are already issues and merging/reopening or adding your details there would also help a lot.

"Xamarin.Auth doesn't wor

[2018-02-24 18:37] moljac commented on #258
@cbfrank

Sorry, but not true.
See nuspec (nuget dependency definitions):

https://github.com/xamarin/Xamarin.Auth/blob/master/nuget/Xamarin.Auth.nuspec#L91-L99

OK. This complex dependency (for multiple targets) is recent addition, but if you check history CustomTabs nuget dependency is in nuspec since early days (2107-06 v.1.5.0.0)

There are other causes which could cause this error (nuget rest

[2018-02-24 18:40] moljac commented on #262
@benczuk Please go to the slack community channel and ping me there.

Namely I'll need to see your constructor and IntentFilter and those are sensitive data, so we'll switch to private chat.

[2018-02-26 05:27] Dev-LN commented on #240
You need to implement "sign out" logic in your app too. This is a Facebook requirement too, I think.

Once you have signed out, in your app, the next time you login it will pick up whichever your you have used to login to Facebook App on that phone.

If you want to see both users as a choice in your app, then logout from your app, logout from the Facebook app, then it will show you the different F

[2018-02-26 13:51] clovs commented on #266
Hey first thanks for your answer,

I tried to remove PCLCrypto and the re-add a lot of time,
with no result.

I don't know if I installed the correct dependency,
there is no information about it, to make it works.

[2018-02-26 23:17] ravidixit commented on #248
I have tried using Xamarin.Auth today to get the token for Dropbox app, the OAuth2.0  is working with the POSTMAN and am able to get tokens with postman but am getting the attach error screen when I use Xamarin.Auth passing the exact same parameters what i did for postman

there is no way to set the Grant type field if you are using Xamarin.Auth to get OAuth2.0 access tokens, if there is please le

[2018-02-28 04:24] stesvis opened #268 ".NET Standard 2.0 compatibility issue"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 1.5.0.3

### Steps to reproduce

1. Create a new Xamarin Forms project using .NET Standard 2.0
2. Install Xamarin.Auth
3. Build the solution

Platform:

-	[] .NET version = .NET Standard 2.0

### Expected behaviour

Build without warnings/errors

### Actual behaviour

I Get the following warning:

and i also started getting this build error:

[2018-02-28 14:08] Brosten commented on #237
In 1.6 alpha, I can see the backbutton, but when pressing it, the app dies.

[2018-03-01 06:02] georgethms10 commented on #252
@shivaprakashab Nope

[2018-03-01 14:17] moljac commented on #268
Xamarin.Auth 1.5.0.x does not support .NET Standard projects.

Try 1.6.0-alpha* and please report here.

Leaving this issue opened just for the discussion, closing it very soon (after 1.6.0 release)

[2018-03-01 17:59] stesvis commented on #268
Hi, thanks.
I installed 1.6.0-alpha4 and it eems all good to go, thank you.

[2018-03-01 18:00] stesvis commented on #268
The -alpha5 could not install on the android project because of other dependencies.

[2018-03-01 19:50] moljac commented on #268
@stesvis
Can you give me more info (error maybe)

thanks

[2018-03-01 20:08] stesvis commented on #268
Sure @moljac , here is what I get:

[2018-03-02 14:31] moljac commented on #268
@stesvis
Before installing Xamarin.Auth try lowering versions of your Xamarin.Android.Support.* packages to version 25.4.0.2. Add Xamarin.Auth and then you can bump/update everything.

Xamarin.Auth pins Android.Support versions like Xamarin.Forms.

[2018-03-02 14:37] moljac commented on #83
@prashantvc

Component store is being shutdown, so it is reasonable to close this one.

[2018-03-04 14:24] Bgamal commented on #225
@dagostinelli please show me the code you added or modified as i faced same problem and cannot fix

[2018-03-05 06:57] #83 closed

[2018-03-05 06:59] prashantvc commented on #83
@siacomuzzi The Component store is shutting down, you can find the new versions of the Xamarin.Auth on nuget here https://www.nuget.org/packages/Xamarin.Auth/

[2018-03-05 15:13] jonasrembratt commented on #261
@yasmanillanes: Thanks for the heads-up (on why the redirect_uri is being trailed with a '/'). Any release plan for a fix?

[2018-03-05 19:32] stesvis commented on #268
Thanks,
another issue is that with Xamarin.Auth installed, I can't build in Release mode:

Unless I set the Linking to None

[2018-03-06 23:10] juarezasjunior opened #270 "System.NullReferenceException: Object reference not set to an instance of an object"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 4.5.0
- [ ] component version = 1.5.0.3
- [ ] xamarin forms = 2.5.0.122203

### Steps to reproduce

1. Create a new Xamarin.Forms project
2. Add Xamarin.Auth as reference in Android project (using nuget)
3. Try to Debug. Will be showed this error while loading: System.NullReferenceException: Object reference not

[2018-03-07 11:47] Bgamal commented on #225
@dagostinelli:
   void OnLoginClicked(object sender, EventArgs e)
        {
			string clientId = null;
			string redirectUri = null;

			switch (Device.RuntimePlatform)
			{
				case Device.iOS:
					clientId = Constants.iOSClientId;
					redirectUri = Constants.iOSRedirectUrl;
					break;

				case Device.Android:
					clientId = Constants.AndroidClientId;
					redirectUri = Constants.AndroidRedi

[2018-03-07 23:05] dgerding commented on #258
I seem to remember that you should remove all of the xamarin.android.support nugets.  Naturally make a list of the ones you have in your project first :-) once you've done that you should put in the version 23 nougats for Xamarin.Android. And then you are able to install Xamarin. Auth 1.6 against it, including .Net standard projects. You may even be able to roll the xamarin support packages forwar

[2018-03-08 07:54] Bgamal commented on #225
@dagostinelli , i did but error still exist

[2018-03-08 12:50] moljac commented on #270
And this is Xamarin.Auth crashing? From this report I do not see what the problem is.

Can you remove Xamarin.Auth and try then?

I have created Xamarin.Forms project, added Xamarin.Auth and am able to debug and launch default app.

I need more details, otherwise this issue can be closed.

[2018-03-12 15:24] Macjon commented on #239
Any updates?

[2018-03-12 19:29] marisst commented on #200
Until then you can do something like this:
[code]

[2018-03-12 22:08] raphaelsilvasage commented on #268
I'm with the same problem:

 Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1107	Version conflict detected for Xamarin.Android.Support.Compat. Reference the package directly from the project to resolve this issue.
 MobileCommonTest.Android -> Xamarin.Android.Support.v7.MediaRouter 27.0.2 -> Xamarin.Android.Support.v7.Palette 27.0.2 -> Xamarin.Android.Support.Compat (= 27.0.2

[2018-03-13 02:12] NakashimaNozomi commented on #248
Does anyone have a solution?  I have same issue...

[2018-03-13 12:19] moljac commented on #268
@raphaelsilvasage First downgrade to install, then upgrade.

https://github.com/xamarin/Xamarin.Auth/issues/268#issuecomment-369935963

I see no reasons, why it wouldn't support. Do Xamarin.Forms support 27.0.2? I think so. Xamarin.Auth nuspec is mirror (copy/paste) of Xamarin.Forms nuspec. This is so since Xamarin.Forms support was added, it was impossible to go on own route.

[2018-03-13 12:37] zeko78 commented on #221
@moljac You are not able to reproduce it in UWP samples `becausesource/Core/Xamarin.Auth.Portable/System/TypeCode.cs` does not define TypeCode in UWP because of `#if !WINDOWS_UWP`

I got the same issue when using Xamarin.Auth 1.6 in a project which references a shared project using System.TypeCode from .NET standard 2.0.

System.TypeCode should not be defined when compiling against .NET standard

[2018-03-13 13:51] zeko78 commented on #221
@moljac Ok, solved the issue at last.

Adding Xamarin.Auth 1.6 to the project that references Xamarin.Auth.XamarinForms 1.6 solved the issue. If Xamarin.Auth 1.6 is not referenced in the project, version 1.5 will be used (as it's the minimum dependency version for Xamarin.Auth.XamarinForms 1.6), and v1.5 does not work nicely with .NET Standard 2.0.

So the fix should be to update the minimum depen

[2018-03-13 15:55] PaulVrugt commented on #194
this can be closed i guess with the release of 1.6?

[2018-03-13 17:05] Vandersteen commented on #223
Recently I've been receiving this crash more often.

[2018-03-13 21:14] mjfara opened #271 "Java.Security.KeyStoreException: KeyStore was not initialized"
Not sure what happened with my project, but now whenever I try the following:

AccountStore.Create().Save(account, providerName);

I get the following error:
Java.Security.KeyStoreException: KeyStore was not initialized

I'm doing this from a PCL, Xamarin.Forms project.

[2018-03-14 12:51] moljac commented on #256
Closing this one

[2018-03-14 12:51] #256 closed

[2018-03-14 14:39] antosubash opened #272 "The given key was not present in the dictionary."
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 1.6
- [ ] component version = 25.4.0.2
- [ ] sample

### Steps to reproduce

1.create a new xamarin project with .net standard
2. Add xamarin.Auth 1.6
3.
[code]

### Actual behaviour
[code]

[2018-03-15 09:21] ArguyAgsc commented on #272
Hi,
I face the same issue with version 1.6.0, but no problem with 1.5.0.3:

Code:
var context = Application.Context;
var intent = authenticator.GetUI(context);

intent.SetFlags(ActivityFlags.NewTask);
context.StartActivity(intent);

Exception (append in external code):
Unhandled Exception:

System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary.

[2018-03-15 12:38] gonzalonm commented on #213
Any updates on this?

[2018-03-15 13:14] gonzalonm commented on #226
Same issue here in Google. Looks like `CustomTabs` does not close properly. Finding the way to close it manually :(

[2018-03-15 13:28] igor-kotz-nunes commented on #272
Hi, @ArguyAgsc

I'm facing the same issue, but I can't downgrade my Xamarin.Auth version to 1.5.0.3 because i'm using .netStandard in my project

[2018-03-15 19:31] mjfara commented on #223
I just hit this and have no idea how to resolve it, I've tried a re-install off Xamarin.Auth, same issue.
Any ideas?

[2018-03-16 00:44] JasonLeedy commented on #272
Had similar issue - tracked it down to version mismatch  in Portable and .Android application references

[2018-03-18 19:00] pqbui001 commented on #272
Hello,

I am getting this error in this line:
[code]

[code]

Anyone one have any resolution on this?

[2018-03-19 09:27] antosubash commented on #272
@pqbui001 did you init the Xamarin.Auth in the main activity?

[2018-03-19 15:08] geoffwc commented on #272
I had same problem on a new project. Wasn't sure what was causing it until I saw this issue. Roll back to 1.5.0.3 has fixed it for me

[2018-03-20 10:16] mpapadis commented on #272
I have the same issue, I believe the issue is caused by this code change:
from
`PackageForCustomTabs = PackagesSupportingCustomTabs["Detected 0"];`
to
`PackageForCustomTabs = PackagesSupportingCustomTabs.FirstOrDefault().Value;`

Had to roll back to version 1.5.0.3 till it is solved.

[2018-03-20 12:09] moljac commented on #272
@mpapadis No. The second one is correct. The first one was relict of package support testing. The second one was added on Friday.

Waiting to compile and sign on our CI bots and fix will be published ASAP.

[2018-03-20 21:16] EmilAlipiev commented on #199
hi, is there any sample code or sample app to see how to use it and how different this than xamarin.auth package? Do we do all coding in shared code or we still have to code something on native level for each project type?

[2018-03-21 00:54] pqbui001 commented on #272
@antosubash Yes, I did initialize in the main activity with this code:
`global::Xamarin.Auth.Presenters.XamarinAndroid.AuthenticationConfiguration.Init(this, bundle);`
I am using .net standard 2.0. I am not sure if this is the reason causing that error.

[2018-03-21 04:09] kiranbasvaraj opened #273 "Getting properties count as 0 for Twitter authentication"
### Steps to reproduce

1.
2.
3.

Platform:

-	[] .NET version =
-	[] mono version =

### Expected behaviour

Tell us what should happen

### Actual behaviour

Tell us what happens instead
Can you also include a screen shot?

*IF IT IS A NEW FEATURE REQUEST, INCLUDE THIS PART:*

### Feature description

Write a description of the feature. How should it work? How should it look?
Include some graphi

[2018-03-21 12:15] moljac commented on #272
@mpapadis @antosubash @geoffwc
1.6.0.1 is published with this fix. Please provide feedback here and even better close this issue if it is fixed.

[2018-03-21 12:16] moljac commented on #272
@pqbui001 @JasonLeedy @ArguyAgsc @igor-kotz-nunes
Guys try 1.6.0.1 please... and report outcome here, please...

[2018-03-21 13:46] igor-kotz-nunes commented on #272
No more error using google signin until now. Thanks @moljac

[2018-03-21 19:03] AndrewBriareZya commented on #272
Thank you

[2018-03-22 06:22] GMaddison opened #274 "Dependency Issues on creating new android project"
# Xamarin.Auth Issue

On Creation of a new project Specifically for android platform

### Version

- [ ] nuget version = 4.5.1.4870
- [ ] component version = 1.6.0.1

### Steps to reproduce

1. Create a Blank Xamarin Forms Application as Shared Project
2. Add Xamarin.Auth 1.6.0.1 And Xamarin.Android.Support.CustomTabs v25.4.0.2 just to Android project
3. Build Project

Platform:
-	[] .NET version

[2018-03-23 16:51] moljac commented on #274
@GMaddison

If your current packages are higher (downgrade), add Xamarin.Auth, then update everything. This should help.

Report outcome here pls.

[2018-03-23 16:52] moljac commented on #272
Closing

[2018-03-23 16:52] #272 closed

[2018-03-23 16:52] moljac commented on #273
PLease provide more info or this issue will be closed due to lacking information

[2018-03-23 16:56] moljac commented on #251
closing this one - Component store is obsolete

[2018-03-23 16:56] #251 closed

[2018-03-23 17:07] moljac commented on #268
Closing issue.

[2018-03-23 17:07] #268 closed

[2018-03-23 17:09] moljac commented on #270
Closing due to unresponsiveness.

[2018-03-23 17:09] #270 closed

[2018-03-23 17:13] moljac commented on #194
Closing .NET Standard 1.0 support is added (as reference assembly)
netstandard 1.6 is real port of the PCL, but for bait-n-switch it is not needed!

Thanks and my apology for making you wait. Believe me I would wish more than you to have this support out sooner.

[2018-03-23 17:13] #194 closed

[2018-03-23 17:27] Redth commented on #251
To add to this, please use the [NuGet](https://www.nuget.org/packages/Xamarin.Auth/)

[2018-03-24 03:52] simon10says opened #275 "Browser doesn't close due to WebAuthenticatorNativeBrowserActivity has leaked ServiceConnection"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 1.6.0.1
- [ ] Xamarin.Forms = 2.5.0.280555
- [ ] Xamarin.Android.Support.CustomTabs = 27.0.2

### Steps to reproduce

1. Create a Xamarin Forms .netstandard project
2. Included the interceptor activity in my android project:
[code]
3. Initialized the OAuth2Authenticator with `isUsingNativeUI = true`

Platform:

-	[] .NET version = netstandar

[2018-03-25 06:53] cabauman commented on #226
This may not be a "proper" fix but it stopped me from tearing my hair out. I've only tested using Google auth for Android native.

Just make your calling activity start itself in the **OnAuthenticationCompleted** callback, with _ClearTop_ and _SingleTop_ flags.
[code]

[2018-03-25 14:18] jenart opened #276 "Provider Sample Solution Doesn't Compile"
# Xamarin.Auth Issue

I've dowlnloaded the .zip file and attempted to compile the provider sample solution in Visual Studio 2017:

`Xamarin.Auth-master\samples\Xamarin.Forms\Providers\XamarinAuth.XamarinForms.sln`

The solution file doesn't have the correct links to the supporting source projects. I manually updated the project references so I could at least load the various source projects.

I've

[2018-03-26 10:39] molidestroyer commented on #275
Hi, I'm having the same issue (Just on .net standard). In my case i'm using a custom interceptor which is opened twice on one call to presenter.Login method.

I tested on a portable project with this version 1.6.0.1 and works ok.

But on a .net standard project it opens the login view twice.

Any news about it?

[2018-03-27 07:50] moljac commented on #275
@simon10says @molidestroyer
Which netstandard library is referenced?
1.0 or 1.6?
1.0 is reference assembly (shim), while 1.6 is port of the PCL.
If 1.0 is referenced maybe manually referencing 1.6 might solve that.

BTW can you provide minimal sample please?

[2018-03-27 07:51] moljac commented on #276
@jenart Samples are being rewritten. Simply they got too big to handle (too many OAuth providers).

[2018-03-27 08:50] plamen-i commented on #275
Confirm regression - 1.5.0.3 working and 1.6.0.1 does not.

After login using Google (isUsingNativeUI = true) login goes to Google search/mail page instead of returning to application.

Cross-platform project with .NET Standard 1.4 common library.

[2018-03-27 09:05] simon10says commented on #275
@moljac
I'm referencing to netstandard2.0

I'm testing it using the sample provided in the code, so, nothing special.

[1] I've a interceptor activity in my android project:
[code]
[2] In my Xamarin Form, I've a button that show the presenter:
[code]
[3] My Error and Completed event has nothing
[code]

[2018-03-27 17:04] boris-agilux commented on #273
Hi,

I have a similar issue :

### Version
- [ ] nuget version = 1.6.0 and 1.6.0.1 ( **authentication callback works fine with 1.5.0.3** )

### Steps to reproduce
1. Instantiate OAuth1Authenticator with valid parameters for a twitter app
2. Log in with a valid Twitter account

Platform:
-	[] mono version = v8.1

### Expected behaviour
When OAuth1Authenticator.Completed fired,  we expect to receive

[2018-03-28 16:02] titonton opened #277 "Not being redirected back to the application in iOS"
I have everything set up exactly how it is supposed to be on the docs and on the examples, but for some reason i can't seem to be redirected back to the application after the authentication happens. I have isUsingNativeUI set to true and everything works fine, until I get redirected to google.com after signing in with the Google provider.
On AppDelegate.cs
[code]

I have a AuthHandler class to tak

[2018-03-28 17:50] derekwheeler-tylertech commented on #275
I'm getting the same "has leaked" error using nuget 1.6.0.1. I reverted back to 1.5.0.3 and don't get the error.

[2018-03-28 21:32] moljac commented on #277
@titonton Can you create minimal sample pls (zip, repo) pls??

And go to Xamarin Community channel and ping me there.

[2018-03-29 01:27] GMaddison commented on #274
So I Started another blank forms project with Shared Project code sharing strategy targeting Android specifically just to confirm, with the following dependencies added in default:

Xamarin.Android.Support.Design v25.4.0.2
Xamarin.Android.Support.v4 v25.4.0.2
Xamarin.Android.Support.v7.AppCompat v25.4.0.2
Xamarin.Android.Support.v7.CardView v25.4.0.2
Xamarin.Android.Support.MediaRouter v25.4.0.2
X

[2018-03-29 01:39] GMaddison commented on #274
Created a repo of my test project if that helps:

https://github.com/GMaddison/Xamarin.Auth-Dependancy-Error-

[2018-03-29 14:22] KarloCecura commented on #275
Also using 1.6.0.1 and getting the same message. Can't revert because 1.5.0.3 not compatible with my project (.NET Standard 2.0).

[2018-04-01 09:14] aboulinguez commented on #274
Same problem here (213 warnings). Any update?

[2018-04-02 17:23] orionstudt commented on #274
I'm experiencing the same warnings, new project.

I attempted what @moljac suggested: Uninstalled all android support Nugets, uninstalled Xamarin.Auth, installed android support Nugets at 23.3.0, installed Xamarin.Auth 1.6.0.1, updated android support Nugets to 25.4.0.2. Warnings persisted.

[2018-04-02 18:08] jamchengms commented on #223
We are also seeing this issue in production from our users for Save() function. Should we put a try catch, and just recreate the AccountStore if the somehow the store is uninitialized? I'm assuming this is due to inactivity and AccountStore gets uninitialized after a while.

[2018-04-02 19:00] zati- opened #278 "UWP AuthenticatorPage does not work"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 1.6.0.1
- [ ] component version =
- [ ] sample

### Steps to reproduce

Create a new project with Xamarin Forms and UWP

Create an authenticator
OAuth2Authenticator authenticator = new OAuth2Authenticator(...)
Navigation.PushAsync(new Xamarin.Auth.XamarinForms.AuthenticatorPage(authenticator));

Platform:
UWP Target : Windows 10 Fall Creator

[2018-04-02 19:38] zati- opened #279 "UWP deep linking restarts app using Xamarin Forms"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 1.6.0.1

### Steps to reproduce

1. Create a Xamarin Forms UWP app using .NET Standard template
2. Add authentication

Platform:

UWP

### Expected behaviour

See attached sample [AuthUWPBug.zip](https://github.com/xamarin/Xamarin.Auth/files/1869132/AuthUWPBug.zip)

After succesfull authentication, browser should close itself and go back to

[2018-04-04 09:47] shrutigoyal123 commented on #277
I am getting same issue. I am using xamarin.Auth 1.5.0.1 API for both android and iOS but in android it is working fine but in iOS 10 is not working as after entering emailid and password on facebook page it is not returning to forms.

Please help.

[2018-04-04 11:00] ahmad-raza commented on #254
Its not working for iOS and android either. Any fix?

[2018-04-05 13:48] otis78 commented on #279
I have the same issue.
Any news about this problem?

[2018-04-05 18:33] moljac commented on #274
@GMaddison Thanks a lot for your sample repo. I did download it and tested and the warnings are there, but I was able to launch and work on the app.

The same is true for the completely new project I created.

I have no idea why these warnings appear. Seems that I cannot do too much about them.

[2018-04-05 19:04] ataparia commented on #248
Hello jjallen,
When I remove the extra slash from the redirect uri, I get an error specially when the android app tries to open up the browser(login page). The error on there says - "400 - Invalid redirect_uri".  Any idea as to how this is working for you and not me?

[2018-04-05 21:08] jjallen37 opened #280 "Can't Present Subclassed Authenticator in UWP"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 1.6.0.1
- [ ] component version =

### Steps to reproduce

1. Create a subclass of OAuth2Authenticator, no implementation needed.
2. Use Presenters.OAuthLoginPresenter's Login(authenticator) method and run in UWP
3. Get Error - "Invalid Authenticator XamarinFormsSandbox.Auth.PkceOAuth2Authenticator"

Platform:

-	[] .NET version = 1.3
-	[] m

[2018-04-06 03:45] lindexi commented on #267
我也遇到这个问题，暂时只能取消

[2018-04-06 15:18] jjallen37 commented on #248
@ataparia
My best guess is on Android is to check these things

1. Valid Redirect URIs listed in keycloak Mine were:
- "http://localhost" - which I verified works with Postman
- "mobile-app-id:/login"
2. Redirect URI passed into the Authenticator object
- Mine was "mobile-app-id:/login"
3. Android InterceptorActivity file that captures the redirect Intention
- Mine looked like this
![image](https:

[2018-04-06 18:05] ataparia commented on #248
@jjallen37
My redirect uri has to confirm to something like this "mobile-app-id://some_callback".

Also I debugged the source code and it seems like the problem is in OAuth2Authenticator.cs -> RequestAccessTokenAsync method. In this method we are using the following code to exchange the code for access token - HttpResponseMessage response = await client.PostAsync(accessTokenUrl, content).Configure

[2018-04-06 23:57] jamchengms commented on #223
We're seeing a high failure count for this on Android. Should we be calling AccountStore.Create() before calling any AccountStore operations? I'm seeing this crash both on .Save() and .FindAccountsForServiceAsync(). Please advise.

[2018-04-10 07:18] judsonabraham301 opened #281 "I'm getting build error"
This is the error I"m getting
Severity	Code	Description	Project	File	Line	Suppression State
Error		The project file "..\..\..\..\..\..\source\XamarinForms\Xamarin.Auth.Forms\Xamarin.Auth.Forms.csproj" was not found.	ComicBook
Severity	Code	Description	Project	File	Line	Suppression State
Error		The project file "..\..\..\..\..\..\source\Xamarin.Auth.Portable\Xamarin.Auth.Portable.csproj" was not fo

[2018-04-10 09:52] moljac commented on #281
What are you trying to build?

[2018-04-10 10:35] judsonabraham301 commented on #281
I'm trying to build Evolve16Labs project

[2018-04-10 10:36] judsonabraham301 commented on #281
And I cant find "............\source\XamarinForms\Xamarin.Auth.Forms\Xamarin.Auth.Forms.csproj" anywhere in my project.

[2018-04-10 11:01] judsonabraham301 commented on #281
I have posted it on https://forums.xamarin.com/discussion/comment/327047#Comment_327047 aswell. Still no fix.

[2018-04-10 12:41] judsonabraham301 commented on #281
Sorry it was a simple mistake i didn't see  Xamarin.Auth.Forms and Xamarin.Auth.Portable in my reference. I removed these file and it worked successfully.

[2018-04-10 13:04] judsonabraham301 commented on #281
hey @moljac  why I'm getting github page when I'm clicking on google oauth. Will i get google authorization in this your app.

[2018-04-10 15:30] themultiplexer opened #282 "[UWP] Cannot save Account with backslash in username"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 4.6.0
- [ ] component version = 1.6.0.1

### Steps to reproduce

1. Create an **Account** instance with an username that contains a backslash.
2. Try to save it into the AccountStore.

Platform: Universal Windows Platform (UWP)

- [ ] .NET version = 4.6.25730.3 (.NET Standard 2.0)
- [ ] mono version = -

### Expected behaviour

The AccountSt

[2018-04-10 17:55] jjallen37 commented on #280
@moljac
That looks good to me, I've never seen that conditional syntax and I'm definitely about to start using it.

Thanks!

[2018-04-10 21:52] jjallen37 commented on #275
I was able to get my Droid project to close the tabs, but I believe I still get the memory leak error. Using 1.6.0.1.
I found this link via Ed Hubble - https://forums.xamarin.com/discussion/100286/xamarin-auth-android-chrome-custom-tabs-doesnt-close-on-redirect

In your InterceptorActivity you can add these lines after calling OnPageLoading and before Finish()

var intent = new Intent(this, typeof

[2018-04-11 10:06] themultiplexer commented on #282
OK I more or less solved it and wrote a small utility class for saving and retrieving Accounts.
Before I store the Account I encode the username with **WebUtility.Encode()**.
After I retrieve the Account I decode the username with **WebUtility.Decode()** and return it.

I don't know whether UrlEncode is the right way, but it works.

[2018-04-11 19:34] heathbm opened #283 "View under Navbar"
I'm using Xamarin Auth via dependency services which presents a new view where the user authenticates However, when the modal page appears and is fully visible, it jumps up and down revealing this black bar https://i.stack.imgur.com/VeR5e.png
It quickly disapears and the page loads like so: https://i.stack.imgur.com/OYAtD.png where the top of the page is hidden. Thanks in advance

I've tried the f

[2018-04-11 19:54] heathbm commented on #283
Here is my temp fix, It still flashes but it looks correct after if has loaded. Does anyone know what would cause the black bar flashing?
`            viewController.PresentViewController(AuthVC, true, new Action(() =>
            {
                var MainUIView = AuthVC.View.Subviews[0];
                var MainNavBar = AuthVC.View.Subviews[1];
                var NavBarHeight = MainNavBar.Frame

[2018-04-12 22:47] frigon opened #284 "OAuth2Authenticator.authorizeUrl doesn't handle a url with a querystring already present"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 1.6

### Steps to reproduce

1.  add OAuth2Authenticator.authorizeUrl  field that ALREADY has a querystring "http://myidp.com/login?someparameter=somevalue"
2.  observer the url launched has 2 querystrings in the url:  http://myidp.com/login?someparameter=somevalue?clientid=....

Platform:

-	[] .NET version =
-

[2018-04-13 05:14] simon10says commented on #275
@jjallen37, the workaround you mentioned works great if I go thru a successfully login workflow.

However, as @molidestroyer has pointed out, the presenter is somehow called twice. With the workaround you suggested, if I were to cancel the login:

1.  The login page reload the 2nd time.
2.  If I cancel the login again, it returns to my MainActivity with a runtime error that caused my app to stop

[2018-04-13 05:27] mipnw opened #285 "OAuth2Authenticator does not check CSRF foregeries in Implicit Grant"
# Xamarin.Auth Issue

OAuth2Authenticator checks for forgeries only sometimes. In Implicit Grant the state is returned via a fragment, not a query, and it doesn't get checked against the expected state, leaving the app vulnerable to CSRF.

I have a fix. I'll submit a PullRequest shortly.

### Version

-nuget version = 1.6.0.1

[2018-04-14 09:04] judsonabraham301 commented on #151
I'm facing the same issue that @Bmahecha123 is facing.

[2018-04-16 10:06] ssm3ll opened #287 "WebAuthenticatorActivity.WebClient doesn't handle page errors (Android)"
# Xamarin.Auth Issue

WebAuthenticatorActivity.WebClient for Android doesn't handle any page errors. In current version it doesn't override OnReceivedError method to pass error details to Authenticator. iOS implementation handles any page error using LoadFailed method override.

### Version

- [ ] nuget version = 1.6.0.1

### Expected behaviour

Android version should handle page errors as well.

[2018-04-16 19:22] HappyTreesDev opened #288 "What happened to AccountStore in 1.6.0.2"
# Xamarin.Auth Issue

The latest version of Xamarin.Auth seems to have either moved or gotten rid of AccountStore. Where did it go or what happened?

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 1.6.0.2

### Steps to reproduce

1. Import Xamarin.Auth
2. Attempt to use AccountStore

### Expected behaviour

Intelisense should recognize AccountStore and the class should exist

###

[2018-04-20 06:50] Naveenkavin commented on #252
I have the same issue...Is there any Solution for this Problem???....Once You guys are find a Solution ....please tell me!

[2018-04-20 07:33] moljac commented on #288
@HappyTreesDev

Sorry, but I'm confused (not just a bit), so I created a minimal sample and code compiles and intellisense works.

Yes there were changes on AccountStore for Android. I finally got more information for some older bugs.

I added Xamarin.Forms sample to the master, but you can also find it here (samples only in the repo):

https://github.com/moljac/Xamarin.Auth.Samples.NugetReference

[2018-04-20 07:41] gadperera opened #289 "What is the possibility delete a given key rather than removing the entire Account in Keychain ?"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version =
- [ ] component version =
- [ ] sample

### Steps to reproduce

1.
2.
3.

Platform:

-	[] .NET version =
-	[] mono version =

### Expected behaviour

Tell us what should happen

### Actual behaviour

Tell us what happens instead
Can you also include a screen shot?

*IF IT IS A NEW FEATURE REQUEST, INCLUDE THIS P

[2018-04-23 08:50] moljac commented on #288
@HappyTreesDev

Morn
did you have by chance, time to test it? I need feedback pls.

Thanks

[2018-04-23 14:28] HappyTreesDev commented on #288
Hi, I looked into this and I think this was actually an issue I was having with the latest version of VS 2017. It has been getting into a broken state quite often with the latest build.

[2018-04-23 14:29] #288 closed

[2018-04-24 07:32] patsadow2 opened #290 "Xamarin.Auth 1.6.0.2 -> Xamarin.Android.Support.CustomTabs 25.4.0.2 -> Xamarin.Android.Support.Compat (= 25.4.0.2)"
Good job:

 Parking.Droid -> Xamarin.GooglePlayServices.Maps 60.1142.1 -> Xamarin.GooglePlayServices.Basement 60.1142.1 -> Xamarin.Android.Support.Compat (>= 26.0.2)
 Parking.Droid -> Xamarin.Auth 1.6.0.2 -> Xamarin.Android.Support.CustomTabs 25.4.0.2 -> Xamarin.Android.Support.Compat (= 25.4.0.2).

[2018-04-25 14:35] gwelshons opened #291 "Crash on Android AccountStore Migration"
Application crashes when trying to migrate default password to new user set password in AccountStore.

The reason is because the hard coded password is actually empty when it is used. So the old password is not actually the hardcoded one but actually "System.Char[]".

[2018-04-25 15:03] reense commented on #291
Is this the exception you're getting?
[code]
If yes, we're in the same boat. 😞

[2018-04-25 15:05] gwelshons commented on #291
Yeah. The temporary fix is to pass in "System.Char[]" as your password. See this xamarin forum post for a little more detail.
https://forums.xamarin.com/discussion/comment/328887#Comment_328887

[2018-04-30 14:57] ChristopherStephan commented on #291
Passing "System.Char[]" as the password did not prevent this error in my case (using Xamarin.Auth version 1.6.0.2).

[2018-05-01 14:42] mfj commented on #291
This also affects Xamarin.Forms version of Auth, only workaround seems to be to downgrade to 1.5.x.

[2018-05-01 21:28] mikegottlieb commented on #223
Still no response on this? FWIW its my number 1 crash and I see it when my application is launched in the background.

[2018-05-01 21:51] jamchengms commented on #223
@mikegottlieb , I had to implement my own version of the AndroidAccountStore, change the store filename to a new one, and that resolved the issue. This will require your users to authenticate again since it will now load from the new filename.

        const string FileName = "Xamarin.Social.Accounts";

We were suspecting that the account store file is corrupted which was causing this problem. Eve

[2018-05-02 16:33] paulelong opened #292 "UWP app Presenter.Login shows blank white screen"
# Xamarin.Auth Issue
### Version

- [ ] nuget version = 1.6.0.2
- [ ] component version =
- [ ] sample = https://github.com/paulelong/Wilson

### Steps to reproduce
1.  Launch login UI using Presenter.Login
2.  Web page is blank on UWP, works on Android device

Platform:
-	[] .NET version = .Net Standard 2.0
-	[] mono version =

### Expected behaviour
I think the web page should display showing an

[2018-05-09 08:08] Jagbri opened #294 "Error when updating Xamarin.Android.Support to version 27.0.2"
# Xamarin.Auth Issue
- [ ] nuget version = 1.6.0.2

### Steps to reproduce
1. Try to install on Android project

[2018-05-10 16:34] RandallCoy commented on #291
We are facing the same conundrum as @PaulVrugt and are trying to understand a way forward.

[2018-05-11 12:25] ansydor commented on #291
Solution is there
https://github.com/xamarin/Xamarin.Auth/blob/master/source/Core/Xamarin.Auth.XamarinAndroid/AccountStore/AndroidAccountStore.cs#L100

[2018-05-11 13:07] PaulVrugt commented on #291
@ansydor please elaborate.

[2018-05-11 13:52] NLorchy commented on #280
when I ran into this issue, I found this to be a little more concise:

[code]

[2018-05-11 14:00] RandallCoy commented on #291
Yes, @ansydor  we need more info.  Here is more details about our situation:
We have a .NET Standard 2.0 project with Xamarin.Auth in it and which uses Xamarin.Auth like this: var accountStore = AccountStore.Create(); notice there are no parameters.  We also then have our Xamarin Android project which uses the .NET Standard project (but does not have Xamarin.Auth specific code).  The .NET Standard

[2018-05-13 00:26] Jamesmallon1 opened #296 "Google 500 Error"
# Xamarin.Auth Issue

"Google

500. That's an error.

There was an error. Please try again later. That's all we know."

This is the screen that comes up now on my iPhone. This app has been working perfectly for the last 6 months and all of a sudden over the last 3 days this is all it produces.

This is specifically with Google sign in. Facebook and linkedin are working fine.

### Version

- [ x ]

[2018-05-14 19:53] fekberg opened #297 "KeyStore integrity check failed"
# Xamarin.Auth Issue

*KeyStore integrity check failed.*

App crashes when using Xamarin.Auth on Android.

### Version

NuGet version 16.0.2

### Steps to reproduce

1. Install 15.0.3
2. Compile, Publish and Run the App
3. Install 16.0.2
4. Compile, Publish and Run the App

You will now get "KeyStore integrity check failed" when looking at adb logcat

Platform: Android, tested on Galaxy S9+

### E

[2018-05-15 10:33] gercobrandwijk commented on #275
@simon10says I am experiencing the same! My app is fortunately not crashing, but you have to cancel it twice before the login page disappears.

[2018-05-15 13:27] paulelong opened #298 "CFBundleTypeRole Viewer is written incorrectly"
# Xamarin.Auth Issue
I believe the info.plist for the Evolve16Labs is incorrect.  It shows CFBundleURLTypes key with value of Viewer.  Should that be CFBundleTypeRole instead?

	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Xamarin.Auth Google OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.xamarin.traditional.standard.samples.oauth.providers.ios</string>

[2018-05-16 18:52] moljac commented on #296
There was an error. Please try again later. That's all we know."

This means server side error. Please checvk logs on server side.

OAuth service providers like google constantly change OAuth implementation, so something might have changed.

Did you change nuget versions in your app?

This is proof that most likely Xamarin.Auth is not the issue here.

Please close this issue if it is not possible

[2018-05-17 02:44] Jamesmallon1 commented on #296
@moljac

Thank you for taking the time to reply. I don't believe the there is any proof that Xamarin Auth is not the issue. The actual issue is that due to the fact that Google Sign in requires native UI. On loading said native UI the error occurs. LinkedIn and Facebook both use separate web views. However using just the safari app on the iPhone the issue does not occur.

I have not changed nuget

[2018-05-17 18:30] mikegottlieb commented on #297
I'm also seeing this. I was upgrading to fix the KeyStore not initialized bug.

[2018-05-18 21:04] nvmkpk commented on #290
Xamarin.Auth needs to be updated for Android Oreo.

[2018-05-21 19:10] cklenk commented on #297
I just received this same error too using 1.6.0.2. Thanks.

[2018-05-22 12:36] LokeshBhatt79 commented on #297
I am also receiving the same error, Please help.

[2018-05-22 12:38] fekberg commented on #297
@LokeshBhatt79 Downgrade to 15.0.3 for now.

[2018-05-22 18:31] SaturninoPimentel commented on #234
I have the same issue, is there a workaround? In my case I'm using the version 1.6.0.2

[2018-05-23 05:19] hetzlefetz opened #299 "Change visibility of UrlMatchesRedirect"
# Xamarin.Auth Issue

### Feature description

Please consider marking UrlMatchesRedirect protected so classes implementing WebRedirectAuthenticator can have custom URL matching e.g in case the query string contains the relevant information

[2018-05-24 09:03] pisi1001 commented on #291
I have changed my app name and related things then clean and build solved.

[2018-05-24 11:07] ansydor commented on #291
U can run on a new AVD or uninstall application fully, and then install it again, but if u cant get an access u need to try the password "3295043EA18CA264B2C40E0B72051DEF2D07AD2B4593F43DDDE1515A7EC32617"
But u cant uninstall on real devices, some kind of migration from old password to new is needed

[2018-05-24 11:10] PaulVrugt commented on #291
@ansydor Of course we cannot uninstall on real devices, since our application is installed at thousands of end users. We cannot ask them all to reinstall the app.

We first need a change that gives xamarin.forms users access to the overload of the accountstore with a password

[2018-05-24 11:11] PaulVrugt commented on #291
@moljac
It would be nice to get some comment from you on this issue

[2018-05-24 23:13] EmilAlipiev commented on #231
Did you guys find a solution for uwp local?

[2018-05-25 15:59] EmilAlipiev commented on #259
i have the same error. how did you fix it?

[2018-05-25 16:05] EmilAlipiev commented on #259
I found out that if you are installing xamarin.auth.xamarinforms package, it doesnt install xamarin.auth dependency automatically on android project.

[2018-05-25 17:08] stesvis opened #301 "Failing to install in Android project"
# Xamarin.Auth Issue

I am trying to install the package v1.6.0.2  to my app but it fails on the android project and the .Net Standard 2.0 project with:

NU1107: Version conflict detected for Xamarin.Android.Support.Compat. Reference the package directly from the project to resolve this issue.
 VeloGuideApp.Android -> Xamarin.Android.Support.v7.MediaRouter 27.0.2 -> Xamarin.Android.Support.v7.Pale

[2018-05-25 17:53] moljac commented on #291
@PaulVrugt
Sorry for delay, but I was moved to AndroidSupportLibraries and GooglePlayServices, because we are outnumbered and new Google stuff is huge, so I work on Xamarin.Auth with reduced priority and performance.

This issue is my No. issue to be fixed. When? Not sure. I hope next week.

[2018-05-25 18:37] #301 closed

[2018-05-26 17:57] SirLanceLang commented on #252
Have you tried:
OAuth2Authenticator.ShowErrors = false;

[2018-05-26 18:01] SirLanceLang commented on #243
Same here (android only)

[2018-05-28 12:19] Jamesmallon1 commented on #296
I'm really starting to get desperate here. There is absolutely no information on this error or how to fix it. I've tried different API Keys and on different accounts, different phones etc etc but to no success. Has anyone come accross this issue and managed to fix it?

[2018-05-30 18:01] stesvis opened #302 "[iOS] Strava authenticate 'unknown_user' error"
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 1.6.0.2

### Steps to reproduce
I am loading the Strava authentication page like this:

[code]
As soon as the Strava login page is loaded, I get error messages such as

and it keeps coming back when I close it.
The same code works perfectly in Android.

[2018-06-01 10:45] GGoraj commented on #294
Same problem here:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Version conflict detected for Xamarin.Android.Support.Compat. Reference the package directly from the project to resolve this issue.
 OAuthNativeFlow.Droid -> Xamarin.Android.Support.Design 27.0.2 -> Xamarin.Android.Support.Compat (= 27.0.2)
 OAuthNativeFlow.Droid -> Xamarin.Android.Support.v4 25.4.0.2 -> Xama

[2018-06-01 12:00] moljac commented on #296
@Jamesmallon1

Can you provide me a minimal repro sample, pleas?
In some private repo, or in priave chat in Xamarin community slack team...

[2018-06-03 20:14] dnet78 commented on #232
had the same problem turned out that the problem was in the build screen I had the Arm platform targeting the x86 platform for some reason. resolved it by making sure all platforms were targetting themselves

[2018-06-05 16:12] Amenti commented on #296
In our case it seems to work again. We did not publish any updates in this time frame so I think Google was the culprit here.

[2018-06-06 08:01] TamasRusvai commented on #223
Anyone found a workaround for this? Is it related to Xamarin.Android threading, or to something else? I also experience this bug a lot in production.

[2018-06-06 08:03] TamasRusvai commented on #271
Maybe Duplicated #223. Please add more information to the description.

[2018-06-06 08:06] TamasRusvai commented on #239
Duplicated #223

[2018-06-09 02:34] Umar3x commented on #297
This is a serious bug. Published an app to prod yesterday had main complains about app crashes, checked logcat and saw that ... Arf. So only way for now is downgrading and publish again I guess ?
Thanks for support.

[2018-06-11 08:35] TamasRusvai commented on #291
@moljac
Hello, Any progress with this bug?

[2018-06-11 12:17] robsaccone commented on #294
Having a similar issue and haven't been able to resolve. Guessing it has something to do with Xamarin.Auth hard dependency on Xamarin.Android.Support.Compat (= 25.4.0.2) and Nuget misunderstanding the dependency chain. But, project builds

``

[2018-06-14 17:08] Leobaillard commented on #297
Does this also happen with 1.6.0? I'm using netstandard and cannot revert to 1.5.x as it does not support it...

[2018-06-14 17:10] Umar3x commented on #297
@Leobaillard
We also target NET Standard and there is no prob with 1.5. Have you got the fallback on NET 4.5?

[2018-06-14 17:16] Leobaillard commented on #297
I don't think I do. Do I just have to add ` <PackageTargetFallback>$(PackageTargetFallback);portable-net45+win8+wp8+wpa81;</PackageTargetFallback>` in the `.csproj` of the NET Standard library?

[2018-06-15 06:06] Brosten commented on #279
I'm also struggling with this one… Any news?

[2018-06-15 10:03] Umar3x commented on #297
Yep should be enough.

[2018-06-19 09:20] cpiock commented on #294
some issue here.

[2018-06-19 20:32] ckhericks commented on #294
Same here. Is it possible to backdate the plugins to when Auth was compatible? I've tried rolling back the packages, but they are inter-dependent on their current version and NuGet won't let me roll them back.

[2018-06-19 22:17] GGoraj commented on #294
I dealt with it some time ago already, could you guys remind me what were
the steps to recreate it please?

On 19 June 2018 at 22:32, ckhericks <notifications@github.com> wrote:

--
Best Regards,
Gregory Goraj
+45 601 355 79

[2018-06-19 22:18] GGoraj commented on #294
and errors u see

On 20 June 2018 at 00:17, Greg Goray <greg.goray@gmail.com> wrote:

--
Best Regards,
Gregory Goraj
+45 601 355 79

[2018-06-19 22:57] ckhericks commented on #294
Literally exactly the same error robsaccone posted above, error mismatch with Xamarin's support extensions. I assume an explicit version dependency is stated somewhere that now crashes with a more recent version released.

[2018-06-20 10:18] krupanshu opened #303 "The remote server returned an error: (403) Forbidden"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 1.6.0.2

### Steps to reproduce

1. Try to do authentication with Twitter

Platform:

-	[] .NET version =
.NET Core
Runtime: /usr/local/share/dotnet/dotnet
Runtime Versions:
	2.0.5
	2.0.0
-	[] mono version =  5.8.1.0 (2017-10/6bf3922f3fd) (64-bit)

### Expected behaviour

It should open twitter login page and fr

[2018-06-20 11:14] bastianbecker21 commented on #297
I am facing same issue. The app crashes after upgrading new version from google play, new version is using 1.6.0.2, original working version is 1.6.0.
I am using PCL in Xamarin Forms project. Any solution here?

[2018-06-20 18:42] robsaccone commented on #294
I'm using Xamarin.Auth 1.6.0.2 with Xamarin.Forms 3.0.0.530893 though I've tried newer/older forms versions.  Using the Andriod.Support* packages that Forms brings along, in this case 27.0.2.1.

[code]

[2018-06-20 21:05] rofiqsetiawan commented on #303
@krupanshu
Make sure your `callback_url` already added on `https://apps.twitter.com/` > `Settings`

[2018-06-20 21:34] rofiqsetiawan commented on #294
This step worked for me:

1. Uninstall all your `Xamarin.Android.Support.XX` and `Xamarin.Auth` packages
2. Close your solution (maybe not needed)
3. Install these packages back:
	* All your `Xamarin.Android.Support.XX` 27.0.2.1
 	* `Xamarin.Android.Support.CustomTabs` 27.0.2.1 (important)
 	* `Xamarin.Auth` 16.0.2

**Note:** If your Solution contains multiple project, you also need to apply that

[2018-06-22 12:19] krupanshu commented on #303
Thanks for your quick reply. It works like charm. I am closing this issue.

[2018-06-22 12:19] #303 closed

[2018-06-26 14:48] specialtrevor opened #304 "Cancelling Twitter login causes 401 and crashes Xamarin Forms App"
# Xamarin.Auth Issue

Using Xamarin.Auth for login with Twitter.
- When logging in it works (so it's nothing to do with callback URL)
- When cancelling and clicking 'return to...' the app crashes and gives the stack trace included at the bottom.

### Version

- nuget version = Xamarin.Auth: 1.6.0.2
- component version = Xamarin.Forms: 2.5.0.280555
- sample:

[code]

### Steps to reproduce

1. Trig

[2018-06-28 09:41] HelenMamalaki opened #305 "Prevent keychain data from being included in back-ups using kSecAttrAccessible constants"
# Xamarin.Auth Issue

### Feature description

I would like the ability to select a more secure keychain configuration using the kSecAttrAccessible constants (e.g. "kSecAttrAccessibleWhenPasscodeSetThisDeviceOnly").

The current default accessibility setting used in Xamarin.Auth is "kSecAttrAccessibleAfterFirstUnlock" which allows data in the keychain to be included in backups whose encryption is

[2018-07-02 13:47] knagjun commented on #290
Android Project's Nuget Package install..
1. Xamarin.Android.Support.Compat install
2. Xamarin.Android.Support.CustomTabs install
Last. Xamarin.Auth install

[2018-07-02 22:52] stealthcold commented on #275
Same here.. anyone found a fix?

[2018-07-03 02:46] simon10says commented on #275
I guess no solution yet. My solution is to revert back to 1.5.0.3.
I'm just a bit surprise that this is not seem as a critical bug, and coming to 4 mths without a fix.

[2018-07-03 14:56] HappyTreesDev commented on #291
Can we somehow change the 1.6.0.2 nuget package to beta or remove it. I recently forgot about this issue and updated the package only to have to downgrade it again because this is still not fixed but It makes me look like I need an update. Very frustrating!

[2018-07-03 15:12] HappyTreesDev commented on #297
#291

[2018-07-05 14:05] jaydeepkumar commented on #304
have same issues do you have any idea about remove this error

[2018-07-05 18:30] gabrielsalmeida opened #306 "[1.6.0.2] CustomTab not closing for Android"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*
On 1.6.0.2 for Android, CustomTab is not closing after log on. Returning to 1.5.0.3 fixed the problem.

1.6.0.2 Version

- [Xamarin.Auth / Xamarin.Auth.XamarinForms ] nuget version = 1.6.0.2
- [Xamarin Forms version 3.1]
- [NetStandard 1.4]

### Steps to reproduce

1. Log on thru some OAuth2.0(tested with Facebook and G+).
2. UrlSchemeInterceptor

[2018-07-08 19:51] mrxten opened #307 "Microsoft OAuth with isUsingNativeUI: true"
# Xamarin.Auth Issue

Getting "Error authenticating: invalid_grant" in opening redirect_url for Microsoft auth

### Version
nuget version = 1.6.0.2

### Steps to reproduce

1. Configured OAuth2Authenticator
<img width="723" alt="image" src="https://user-images.githubusercontent.com/13070572/42423282-8bb1c756-8300-11e8-8a80-6e4af41772f7.png">

2. Configured info.plist
<img width="776" alt="image" s

[2018-07-08 19:51] mrxten commented on #307
And yes, this redirect_url specified in microsoft app panel

[2018-07-09 20:33] kensykora commented on #294
You all should be able to work around this issue if you manually edit the packages.config or your .csproj files to change all of the version numbers for ALL matching `Xamarin.Android.Support.xxxxx` at the same time.

[2018-07-11 22:52] juandrn commented on #294
Installing Xamarin.Android.Support.CustomTabs Works
Thanks!

[2018-07-16 14:46] nhwilly commented on #294
Where do I send the beer?  Thanks!

[2018-07-19 22:49] msadeh opened #308 "UWP with grand type Authorization Code doesn't work"
# Xamarin.Auth Issue

In UWP because of this error the entire code is not working.

 try
                    {
                        task_scheduler = TaskScheduler.FromCurrentSynchronizationContext();
                    }
                    catch (System.InvalidOperationException exc_io)
                    {
                        /*
                            TODO: INVESTIGATE UWP only exc

[2018-07-22 10:57] deakjahn commented on #274
Nothing to do with Auth. These warnings pop up everywhere in FX/Android. And can't be disabled.

[2018-07-23 14:47] PaulVrugt commented on #291
@moljac

It's been two months now without any progress. Any update?

[2018-07-23 21:32] augustohug commented on #109
I am having the same problem in the current version of Xamarin.Forms (3.1.0.583944)

[2018-07-26 11:23] No1e opened #309 "Real use example of secure version of AccountStore.Create"
# Xamarin.Auth Issue

Can you please provide us with an example of proper use of secure AccountStore.Create?

Please allow me to describe use case.
I am using encrypted SQLite database (SQLCipher) to keep the data protected. This database requires password to open db connection.

 I have two types of data: users specific and application specific. The reason for this is that in the enterprise the c

[2018-07-26 20:16] #294 closed

[2018-07-30 22:33] halderp opened #310 "Xamarin.Auth: Browser opens Twice in Android for Authentication"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 1.6.0.1
- [ ] component version = 1.6.0.1
- [ ] sample

### Steps to reproduce

1. Created a Custom Authenticator to override OnCreatingInitialUrl method to add an additional parameter:
  authenticator = new CustomeOAuth2Authenticator
                (
                    clientId: ServerInfoFinal.ClientId,

[2018-07-31 04:39] kirk-marple commented on #226
Curious, has anyone found a better solution to CustomTabs not closing properly on Android?

The trick for starting the intent with ClearTop does work, but I read somewhere else this may have bad side effects.

Is this a bug in Xamarin.Auth, or a problem on the Google/Android side?

[2018-07-31 06:33] Elinareso opened #311 "After call OnPageLoading on iOS and Android Receive an error event utf-8 is not a supported encoding name."
# Xamarin.Auth Issue

### Version

- [ ] nuget version = 1.6.0.2
- [ ] component version = 1.6.0.2
- [ ] sample

### Steps to reproduce

1. After a success authentication with Facebook
2. The OpenUrl or CustomUrlSchemeInterceptorActivity is being called
3. The AuthenticationState.Authenticator.OnPageLoading(uri) is called
4. The event called  Authenticator_Error(object sender, AuthenticatorErrorEv

[2018-08-03 14:52] timritzer commented on #275
Also an issue for me. Reverted to 1.5.0.3 and it won't work on .Net Standard.

I was hoping to look into it, but I am really unfamiliar with the code, so don't hold your breath.

[2018-08-13 10:15] timothd commented on #275
We get exactly the same issue. If I run the example found at https://github.com/TimLariviere/Sample-XamarinAuth-Google everything works as expected, as the Xamarin.Auth runs with version 1.5.0.3. If I upgrade the example to 1.6.0.2, it fails as mentioned in the above posts.

This effectively makes the Xamarin.Auth component unusable. Are there any timelines on a fix for this issue? Are anyone look

[2018-08-13 11:14] stealthcold commented on #275
Here we started implementing native login due this bug.

[2018-08-14 19:33] kensykora commented on #275
This issue is occurring for us too.

[2018-08-17 10:12] krupanshu opened #312 "Google Login + Xamarin Auth, Not getting callback."
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 1.6.0.1
- [ ] component version =
- [ ] sample

### Steps to reproduce

1. Configure all the settings for Google Login. Create the project in the console, download google service-info plist. set its build action after adding it to the root project folder.
2. Hit on google plus and google auth page open. Enter us

[2018-08-20 03:53] #312 closed

[2018-08-20 03:54] krupanshu commented on #312
This was only reproducible in the real device. In Simulator it is working fine. Need to figure out the solution for the same.

[2018-08-20 10:17] CNouws commented on #291
@moljac
Any update on this issue?

[2018-08-21 15:35] alexshikov commented on #291
Oh man, this is an unexpected surprise of the today :)

## Issue reason

Let's summarize the issue.
The breaking change from the 1.5.x to 1.6.x in terms of the current issue is on the line https://github.com/xamarin/Xamarin.Auth/blob/d592c51a6f91aa073f0c1be8a768c464aa6e62a7/source/Core/Xamarin.Auth.XamarinAndroid/AccountStore/AndroidAccountStore.cs#L53

The change happened from
[code]
to

[code]

[2018-08-22 09:41] PaulVrugt commented on #291
@moljac

Although @alexshikov 's workaround is valid. The issue is a bit more complex. The actual fix should include a way in the plc (standard) project to set the password for the keystore, because we should not be using the default password. However, this will break all implementations, because the migratekeystore method that moves the keystore to a new keystore with the new password uses the AC

[2018-08-22 10:14] alexshikov commented on #291
Agree. I also think if there should be options to deal with migration failure:

- throw an exception if migration failed
- clear old store and create a new one with a new password

So that we have an opportunity to continue the application because right now the app just stuck in a situation when the AccountStore can't be used at all.

[2018-08-22 13:10] gwelshons commented on #291
How I have temporarily fixed it was to pull down my own copy of the Droid Xamarin.Auth. Then in AndroidAccountStore I added a second passwordHardCoded.
`static readonly char[] PasswordHardCoded = "System.Char[]".ToCharArray();//"3295043EA18CA264B2C40E0B72051DEF2D07AD2B4593F43DDDE1515A7EC32617".ToCharArray();
        static readonly char[] PasswordHardCoded2 = "3295043EA18CA264B2C40E0B72051DEF2D07A

[2018-08-23 15:01] xamarinrk1 opened #314 "oAuth flow works fine on Android 7 and above but see ERR_UNKNOWN_URL_SCHEME on Android < 7"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

Seeing ERR_UNKNOWN_URL_SCHEME error while redirecting oAuth flow back to android app only for the versions less than 7.

oAuth flow works fine with latest android versions 7 and above

### Version

- [ ] nuget version = 1.6.0.2
- [ ] component version =
- [ ] sample
Followed the steps exactly mentioned here, https://docs.microsoft.com/en-us/xamar

[2018-08-27 16:32] satishgutta commented on #204
We are facing this issue with ios which uses nativeUI to invoke OIDC authorization code flow for sign-in.
For sign-out we revoke the token and delete cookies to clear the sign-in session, however the cookies are stored forever and never prompts the user to login again.
Clearing cookies at the iOS level using safari's Clear History and Website Data is the only way to get the user  to login again.

[2018-08-27 18:53] newky2k commented on #68
This has been added to the project Issue Triage Process

[2018-08-27 18:53] #68 closed

[2018-08-27 18:55] newky2k commented on #89
Added to the Issue Triage Process project

[2018-08-27 18:55] #89 closed

[2018-08-27 18:58] newky2k commented on #92
resolved.

[2018-08-27 18:58] #92 closed

[2018-08-27 19:34] newky2k commented on #61
PR added to resolve this issue

[2018-08-27 19:34] #61 closed

[2018-08-28 08:41] antferr commented on #275
Any news?

[2018-08-28 09:38] simon10says commented on #275
I think this repository is as good as dead. Like @stealthcold , we too starting to implement native login

[2018-08-28 20:54] eman1986 opened #316 "Version Conflict with Android"
# Xamarin.Auth Issue

Version conflict detected for Xamarin.Android.Support.Compat. Install/reference Xamarin.Android.Support.Compat 27.0.2.1 directly to project XamarinForms.Android to resolve this issue.
XamarinForms.Android -> Xamarin.Android.Support.v7.MediaRouter 27.0.2.1 -> Xamarin.Android.Support.v7.Palette 27.0.2.1 -> Xamarin.Android.Support.Compat (= 27.0.2.1)
XamarinForms.Android -> Xama

[2018-08-29 13:16] Phenek commented on #266
[Essentials](https://github.com/xamarin/Essentials)

[2018-08-29 13:17] #266 closed

[2018-08-30 18:42] newky2k commented on #70
@coreyperkins  is this still an issue

[2018-08-30 18:51] newky2k commented on #67
@ruffin-- @dei79 @sshanthakumar  is this still an issue?

[2018-08-30 19:16] newky2k commented on #75
seems resolved by https://github.com/xamarin/Xamarin.Auth/pull/155

[2018-08-30 19:16] #75 closed

[2018-08-30 19:18] newky2k commented on #95
this is a issue for ios apps with ATS no xamarin.auth

[2018-08-30 19:18] #95 closed

[2018-08-30 19:20] newky2k commented on #98
@ltaljaard is this still an issue

[2018-08-30 19:36] newky2k commented on #99
@dzolnjan is this still an issue

[2018-08-30 19:45] ltaljaard commented on #98
@newky2k I don't know, I have moved over to the Azure AD type authentication. I guess you could run the provided sample and check?

[2018-08-30 19:49] newky2k commented on #101
@marktap this appears to be have been implemented now as there have been changes to how it runs on the UI thread
https://github.com/xamarin/Xamarin.Auth/blob/d592c51a6f91aa073f0c1be8a768c464aa6e62a7/source/Core/Xamarin.Auth.WindowsPhone8/Plugins/UIThreadRunInvoker.WindowsPhone8.cs

[2018-08-30 19:49] #101 closed

[2018-08-30 19:59] newky2k commented on #98
@ltaljaard  thanks for the update

[2018-08-30 20:00] newky2k commented on #98
no longer needed

[2018-08-30 20:00] #98 closed

[2018-08-30 20:07] newky2k commented on #102
@marktap This code has now changed -> https://github.com/xamarin/Xamarin.Auth/blob/d592c51a6f91aa073f0c1be8a768c464aa6e62a7/source/Extensions/Xamarin.Auth.Extensions.LinkSource/OAuth2AuthenticatorExtensions.cs#L43

The authenticator now handles failed responsed

[2018-08-30 20:07] #102 closed

[2018-08-30 20:15] newky2k commented on #105
this is on the roadmap

[2018-08-30 20:15] #105 closed

[2018-08-30 20:28] newky2k commented on #114
@deepinderCognitive @nhinze @miiitch We are on version 1.6.x now.  Can you check to see if this is still an issue

[2018-08-30 20:31] newky2k commented on #121
work arounds have been used

[2018-08-30 20:31] #121 closed

[2018-08-30 20:37] newky2k commented on #118
no response since aug 2016

[2018-08-30 20:37] #118 closed

[2018-08-30 20:41] newky2k commented on #125
this has now been implented as extensions -> https://github.com/xamarin/Xamarin.Auth/tree/portable-bait-and-switch/source/Extensions

[2018-08-30 20:41] #125 closed

[2018-08-30 20:43] newky2k commented on #130
User added a workaround to their own app

[2018-08-30 20:43] #130 closed

[2018-08-30 20:47] newky2k commented on #106
@remiroyc  Title is s public property so you should be able to set it to what ever you want

[2018-08-30 20:47] #106 closed

[2018-08-30 20:49] newky2k commented on #107
@vinodh06  is this still an issue?

[2018-08-30 20:50] newky2k commented on #132
@aandino-dev  do you have an example of how you liked to pass these parameters, compared to how you are using it with out?

[2018-08-30 20:52] newky2k commented on #134
this is implemented now

[2018-08-30 20:52] #134 closed

[2018-08-30 20:53] newky2k commented on #132
this appears to implemented now.  you just need to override OnCreateInitialRequest as detailed here -> https://github.com/xamarin/Xamarin.Auth/issues/134 and here ->
https://github.com/xamarin/Xamarin.Auth/blob/ad7f6d6453506ced0ab3af499a7492f13973e3a3/source/Xamarin.Auth.LinkSource/OAuth2Authenticator.cs#L322

[2018-08-30 20:53] #132 closed

[2018-08-30 20:54] newky2k commented on #143
no response for over a year

[2018-08-30 20:54] #143 closed

[2018-08-30 20:55] newky2k commented on #44
no response since 2013

[2018-08-30 20:55] #44 closed

[2018-08-30 20:58] newky2k commented on #159
No response from over a year

[2018-08-30 20:58] #159 closed

[2018-08-30 22:59] fschwiet commented on #130
Well FWIW I haven't seen this affect other users since originally posting in the issue.  So maybe whatever was corrupting the file was fixed.

[2018-09-03 12:44] FinHorsley opened #317 "ShowErrorForNativeUIAlert using deprecated UIAlertView"
# Xamarin.Auth Issue

*IF BUG, INCLUDE THIS PART:*

### Version

- [ ] nuget version = 1.6.0.2
- [ ] component version =
- [ ] sample

### Steps to reproduce

Not relevant

Platform:

-	[] .NET version =
-	[] mono version =

### Expected behaviour

UIAlertView should be updated to use UIAlertViewController

### Actual behaviour

N/A

*IF IT IS A NEW FEATURE REQUEST, INCLUDE THIS PART:*

### Featur

[2018-09-03 17:40] newky2k commented on #168
@jelmarlaunchlabs  @Cariaga Can you please check to see if this is still and issue with the latest version.

[2018-09-03 17:42] newky2k commented on #144
@ammarMheir @sushihangover @sinclas @hvaughan3 @leongaines can you check to see if this is still happening in the latest version.

Regards

[2018-09-03 17:50] newky2k commented on #146
@jssuthahar @pme442 @johnshardman @sree-sundaram Can you check this with the latest version please.

Regards

[2018-09-03 17:53] newky2k commented on #147
Can you try this with the latest version of Xamarin.Auth please.

Regards

[2018-09-03 17:56] newky2k commented on #153
@JakubHolovsky Is this still and issue?  can you try it with the latest version and if so can you please provide more details on the code you are using plus a sample project so we can replicate it

Regards

[2018-09-03 17:58] newky2k commented on #160
@bradlol  @ethanae  can you check this with the latest version please?

Regards

[2018-09-03 18:07] newky2k commented on #165
@mdekrey @nickkimbrough @jaricardodev @marktap  @nolanblew @itlks  can you check this with  latest version of Xamarin.Auth, currently at 1.6.0.2, and see if this is still and issue.

Regards

[2018-09-03 18:09] newky2k commented on #169
No response since may 2017

[2018-09-03 18:09] #169 closed

[2018-09-03 18:13] newky2k commented on #176
@LocalJoost  Can you try this with the latest version of Xamarin.Auth please

Regards

[2018-09-03 18:16] newky2k commented on #185
@biapar  @DFerenczi @robintschroeder @jenart @alexvitoriano Can you please try this with the latest version of Xamarin.Auth

Regards

[2018-09-03 20:23] MJRomka opened #318 "Getting white screen when change orientation on auth screen"
When I navigate to the auth screen in portrait mode I see something:
<img width="517" alt="port" src="https://user-images.githubusercontent.com/3237392/45000707-01058f00-afd0-11e8-897b-99c4accacda5.png">
Then when I rotate a device it goes white and I have to restart the app to exit:
<img width="964" alt="land" src="https://user-images.githubusercontent.com/3237392/45000720-14b0f580-afd0-11e8-8606

[2018-09-03 20:32] newky2k commented on #189
@SuhanKoh can you try this on the latest version please.

Regards

[2018-09-03 20:34] newky2k commented on #191
@ruchiverma6 can you please try this with the latest version please.

Regards

[2018-09-03 20:38] newky2k commented on #193
@HelenMamalaki  the PCLCrypto bug has been fixed and the latest version is Store compatible

[2018-09-03 20:38] #193 closed

[2018-09-03 20:39] newky2k commented on #195
@sanjogs  Can you please try this with the latest version.

Regards

[2018-09-03 20:43] newky2k commented on #197
resolved

[2018-09-03 20:43] #197 closed

[2018-09-03 20:48] newky2k commented on #202
@ExtremeSwat @Brosten  could you check and see if this is still an issue with the latest version

Regards

[2018-09-03 20:52] newky2k commented on #203
@madcreep Can you please check this with the latest version of Xamarin.Auth, and the other xamarin ecosystem elements.

Regards

[2018-09-03 21:06] newky2k commented on #206
@arctouch-oberdanbitencourt  @SirLanceLang  @Vijay4657 @Emixam23  Can you please check this with the latest version of Xamarin.Auth, and the other xamarin ecosystem elements.

Regards

[2018-09-03 21:16] newky2k commented on #240
Sign out needs to be implemented to enable switching users

[2018-09-03 21:16] #240 closed

[2018-09-03 21:18] newky2k commented on #227
@patsadow2  Could you provide some details on how the toolbar is ugly?

Regards

[2018-09-03 21:26] newky2k commented on #223
this has been resolved in 1.6.0.2

[2018-09-03 21:26] #223 closed

[2018-09-03 21:30] newky2k commented on #215
no response since Aug 2017

[2018-09-03 21:30] #215 closed

[2018-09-03 21:32] newky2k commented on #221
resolved with update to 1.6

[2018-09-03 21:32] #221 closed

[2018-09-03 21:35] newky2k commented on #218
@marcelinhovt @gabrielsalmeida @dagostinelli  can you please try this with the latest version.

[2018-09-03 21:36] newky2k commented on #222
@jigneshbodarya can you please try this with the latest version.

[2018-09-03 21:37] newky2k commented on #242
closing as resolved

[2018-09-03 21:37] #242 closed

[2018-09-03 21:39] newky2k commented on #228
no longer needed

[2018-09-03 21:39] #228 closed

[2018-09-04 05:35] JakubHolovsky commented on #153
@newky2k sorry, I don't have an access to that project anymore. So feel free to close it if you like.

[2018-09-04 05:35] #153 closed

[2018-09-04 19:41] newky2k commented on #233
@Clemon-R can you please try the latest version of Xamarin.Auth to see if this is a still a problem

[2018-09-04 20:13] newky2k commented on #231
@Emixam23 @radekdoulik Is this still an issue?

[2018-09-06 19:58] newky2k commented on #236
no futher action on this

[2018-09-06 19:58] #236 closed

[2018-09-06 20:00] newky2k commented on #231
RadoslawKubas Is this still an issue?

[2018-09-06 20:03] newky2k commented on #237
@Brosten  can you check to see if this is still and issue with the latest version please

[2018-09-06 20:10] newky2k commented on #239
this has been fixed in 1.6.0.2

[2018-09-06 20:10] #239 closed

[2018-09-06 20:11] newky2k commented on #243
assigned to engineer

[2018-09-06 20:13] newky2k commented on #246
@FlashTek can you please check this in the latest version please.

[2018-09-06 20:20] newky2k commented on #247
@benczuk  can you check the latest version and see if this is an issue

[2018-09-06 20:55] pumpkintechlabs opened #319 "CustomTabsConfiguration customization / settings do not work"
- [ ] nuget version = 1.6.0.2

### Steps to reproduce

In MainActivity.cs OnCreate() try to customize settings like so:

           `global::Xamarin.Auth.Presenters.XamarinAndroid.AuthenticationConfiguration.Init(this, bundle);
            global::Xamarin.Auth.CustomTabsConfiguration.CustomTabsClosingMessage = null;
            global::Xamarin.Auth.CustomTabsConfiguration.ActionLabel = null;

[2018-09-07 05:27] Brosten commented on #202
@newky2k Yes, this is still an issue that holds me back from using Xamarin Auth on UWP (I'm using it for iOS and Android...)

[2018-09-07 19:37] newky2k commented on #248
This issue is resolved

[2018-09-07 19:37] #248 closed

[2018-09-07 19:43] newky2k commented on #250
@Brosten @Emixam23 could you check to see if this issue still exists please?

[2018-09-07 20:00] newky2k commented on #252
@@georgethms10  can you try this on the latest version please

[2018-09-07 20:04] newky2k commented on #254
@Brosten  can you please try this with the latest version please.

[2018-09-07 20:05] newky2k commented on #255
not possible

[2018-09-07 20:05] #255 closed

[2018-09-07 20:13] newky2k commented on #258
just a project issue with dependencies

[2018-09-07 20:13] #258 closed

[2018-09-07 20:18] newky2k commented on #259
@MobileRez can you try this with the latest version of Xamarin.Auth, 1.6.0.2.  xamarin.auth.xamarinforms definately has a dependecy on Xamarin.Auth now

[2018-09-07 20:30] newky2k commented on #261
@pme442  can you please try this with the latest version.

[2018-09-07 20:31] newky2k commented on #262
taken off github

[2018-09-07 20:31] #262 closed

[2018-09-07 20:34] newky2k commented on #267
@FrankChen021 @lindexi  Can you please check this issue with the latest version 1.6.0.2

[2018-09-07 20:36] newky2k commented on #271
this is fixed in 1.6.02

[2018-09-07 20:36] #271 closed

[2018-09-07 20:37] newky2k commented on #273
@kiranbasvaraj  @boris-agilux can you please try this in the latest version

[2018-09-07 20:39] newky2k commented on #274
@GMaddison this doesn't appear to be a specific Xamarin.Auth issue.  Try updating to the latest version of the Xamarin Echo system components(Xamarin.Android, Visual Studio for Mac/Visual Studio Addin etc)

[2018-09-07 20:39] #274 closed

[2018-09-07 20:45] newky2k commented on #275
@simon10says  could you provide a small sample to demonstrate this when the issue can be exactly replicated. From reading the thread you have already tried the latest version, is that correct?

Sorry for the delay in getting to this issue, and we really appreciate your patience.

Regards

[2018-09-07 20:47] newky2k commented on #276
Samples are being rewritten as part of the job of works

[2018-09-07 20:47] #276 closed

[2018-09-07 20:50] newky2k commented on #277
@titonton @shrutigoyal123 can you please provide a sample that replicates this issue so we can investigate.

Regards

[2018-09-07 20:52] newky2k commented on #278
@zati-  can you please provide some more details and a sample project that replicate the issue so we can investigate.

Regards

[2018-09-07 20:55] newky2k commented on #279
if assigned @moljac to look into this.  please be patient while we investigate further.

[2018-09-07 20:57] newky2k commented on #280
resolved

[2018-09-07 21:00] newky2k commented on #281
Samples are being rewritten as part of the current job of work

[2018-09-07 21:00] #281 closed

[2018-09-07 21:01] newky2k commented on #282
resolved

[2018-09-07 21:01] #282 closed

[2018-09-07 21:07] newky2k commented on #283
@heathbm  could you please provide a sample demonstrating this issue so that we can investigate further.

Regards

[2018-09-07 21:09] newky2k commented on #284
@frigon could you please provide a small sample project that demonstrates this issue to make it easier to replicate.

[2018-09-07 21:11] newky2k commented on #285
PR Submitted

[2018-09-07 21:11] #285 closed

[2018-09-07 21:15] Emixam23 commented on #250
Hey !

To be honest I ain't student no more and I didn't use Xamarin.Auth for a while.. Plus I ain't no more on that project so hard to tell :/

Good luck :)

[2018-09-07 21:16] newky2k commented on #287
@ssm3ll  Can you please check this agains the latest version, 1.6.0.2, and if it is still happening can you provide a sample project that replicates the issue.

Regards

[2018-09-07 21:19] newky2k commented on #289
@gadperera  can you please provide some more detail about what you're trying to achieve, what classes you are using now and what you propose for it to work the way you want

Regards

[2018-09-07 21:27] newky2k commented on #317
@FinHorsley can you please provide some more information about where/when this issue is being raised.

Regards

[2018-09-07 21:28] newky2k commented on #316
@eman1986 adding @moljac to help with this issue

[2018-09-10 02:01] kiranbasvaraj commented on #273
Will try thanks ,

Regards,
kiran

On Sat, 8 Sep 2018, 2:07 am Dave Humphreys, <notifications@github.com>
wrote:

[2018-09-10 17:38] newky2k commented on #237
issues resolved in the latest version

[2018-09-10 17:38] #237 closed

[2018-09-10 17:39] newky2k commented on #250
no longer required

[2018-09-10 17:39] #250 closed

[2018-09-10 17:42] newky2k commented on #202
@Brosten  Thanks for the update i'll ask @moljac  to look into.

[2018-09-10 17:44] newky2k commented on #213
@gonzalonm can you please try this on the latest version?

[2018-09-10 17:49] newky2k commented on #217
@hardcodet @SirLanceLang  can you try this on the latest version please?

[2018-09-10 17:52] newky2k commented on #211
@zBrianW can you please try this in the latest version

[2018-09-10 17:56] newky2k commented on #224
@Emixam23 can you provide a small sample to replicate this issue and help us investigate

[2018-09-10 17:57] newky2k commented on #226
can you try this in the latest version please

[2018-09-10 18:28] newky2k commented on #292
@paulelong Can you provide a small sample that replicates the issue so we can investigate.

[2018-09-10 18:29] newky2k commented on #298
samples are a work in progress and will be updated in the near future

[2018-09-10 18:29] #298 closed

[2018-09-10 18:51] newky2k commented on #299
PR has been created and reviewed, just pending merge

[2018-09-10 18:51] #299 closed

[2018-09-10 19:03] newky2k commented on #302
@stesvis  can you please provide a small sample project that replicates the issue so we can investigate it further

[2018-09-10 19:18] newky2k commented on #304
@specialtrevor @jaydeepkumar could you please provide a small sample project that reproduces this issue so we can investigate

[2018-09-10 20:13] newky2k commented on #306
@gabrielsalmeida @kensykora can you please provide a simple sample that replicates the issue so we can investigate

[2018-09-10 20:39] newky2k commented on #308
@msadeh could you please provide a small sample to replicate the issue for us to investigate

[2018-09-10 20:59] newky2k commented on #310
@halderp can you please provide a simple sample that demonstrates the issue that you are having so we can investigate.

Regards

[2018-09-10 21:40] halderp commented on #310
Hi Dave
Attached the sample application.
You can easily reproduce the problem by:1) Launch app2) Press "Start Authentication" button3) It would open up our Authorization URL. Please allow 10-20 seconds of time4) Once launched click "Back" button or "X" on Browser5) You can notice the Auth Page is launched twice.RegardsPrashanta
    On Monday, September 10, 2018, 1:59:52 PM PDT, Dave Humphreys <not

[2018-09-10 21:54] stesvis commented on #302
Hi @newky2k sorry i don't have one. i changed approach and now i am just calling the strava api directly.

[2018-09-11 13:16] fekberg commented on #297
Fix has been "in progress" since 16 May.

What's going on?

[2018-09-11 18:14] newky2k commented on #310
@halderp There is an attachment with the sample project on it i'm afraid.  You need to go the issue itself at attach it.

Regards

[2018-09-11 18:16] newky2k commented on #302
@stesvis  thanks anyway

[2018-09-11 18:16] #302 closed

[2018-09-11 18:38] newky2k commented on #314
@xamarinrk1 can you please provide a simple sample that denonstrates the issue.

Regards

[2018-09-13 13:04] gktval commented on #274
I have am having this issue also. i'm not sure how it cannot have anything to do with Xamarin.Auth, because when I remove the reference, my 127 errors go away. I've tried updating Xamarin/VS and changing my target Android version down to 7.0. Still cannot get the errors to resolve.

[2018-09-14 16:31] sergiobonillamorales commented on #206
In your **OnAuthenticationFailed** method you need to add

`var authenticator = sender as OAuth2Authenticator;`
`authenticator.OnCancelled();`

I hope it works.
Regards,
Sergio.

[2018-09-14 16:35] newky2k commented on #70
no response for two weeks

[2018-09-14 16:35] #70 closed

[2018-09-14 16:36] newky2k commented on #67
no response for two weeks closing

[2018-09-14 16:36] #67 closed

[2018-09-14 16:36] newky2k commented on #99
no response for two weeks, closing

[2018-09-14 16:36] #99 closed

[2018-09-14 16:38] newky2k commented on #114
No response for two weeks, closing

[2018-09-14 16:38] #114 closed

[2018-09-14 16:38] newky2k commented on #107
No response for two weeks closing

[2018-09-14 16:38] #107 closed

[2018-09-14 16:40] newky2k commented on #206
thanks @sergiobonillamorales

[2018-09-14 16:41] #206 closed

[2018-09-17 10:41] fekberg opened #320 "KeyStore password defaults to System.Char[]"
# Xamarin.Auth Issue
The hardcoded password isn't used with the default constructor.

When you do `ToString()` on a char-array, it gives you the text System.Char[].

![image](https://user-images.githubusercontent.com/1154001/45618598-8a0fd200-ba76-11e8-8e9d-7b2014e5fb5f.png)

You'd have to do `new string(PasswordHardCoded)`, or `string.Join`, however, this will break backwards compatibility and it

[2018-09-17 10:48] zati- commented on #226
Still the same with latest version

[2018-09-17 19:01] newky2k commented on #144
no response after two weeks closing

[2018-09-17 19:02] newky2k commented on #146
no response after two weeks, closing

[2018-09-17 19:02] #146 closed

[2018-09-17 19:02] newky2k commented on #147
no response after two weeks

[2018-09-17 19:02] #147 closed

[2018-09-17 19:03] #144 closed

[2018-09-17 19:03] newky2k commented on #160
no response after two weeks, closing

[2018-09-17 19:03] #160 closed

[2018-09-17 19:03] newky2k commented on #161
no response after two weeks, closing

[2018-09-17 19:03] #161 closed

[2018-09-17 19:04] newky2k commented on #165
no response after two weeks, closing

[2018-09-17 19:04] #165 closed

[2018-09-17 19:05] newky2k commented on #168
no response after 2 weeks, closing

[2018-09-17 19:05] #168 closed

[2018-09-17 19:06] newky2k commented on #176
no response after two weeks, closing

[2018-09-17 19:06] #176 closed

[2018-09-17 19:06] newky2k commented on #185
no resonse after two weeks closing

[2018-09-17 19:06] #185 closed

[2018-09-17 19:09] newky2k commented on #189
no response after two weeks, closing

[2018-09-17 19:09] #189 closed

[2018-09-17 19:10] newky2k commented on #191
no response for two weeks, closing

[2018-09-17 19:10] #191 closed

[2018-09-17 19:12] newky2k commented on #195
no response for two weeks, closing

[2018-09-17 19:12] #195 closed

[2018-09-17 19:12] newky2k commented on #203
no response for two weeks

[2018-09-17 19:12] #203 closed

[2018-09-19 10:39] msadeh commented on #308
Hey,

Because the exception in UWP **task_scheduler**  is null. so the reset of the code is not working.

**Current** code in OAuth2Authenticator:

TaskScheduler task_scheduler = null;
                    try
                    {
                        task_scheduler = TaskScheduler.FromCurrentSynchronizationContext();
                    }
                    catch (System.InvalidOperationExcep

[2018-09-19 18:08] pme442 commented on #261
I tried it with the latest version and it won't launch the presenter, I get the "invalid authenticator" error because of my subclassed OAuth2Authenticator (#280).
If I remove my subclass and use the OAuth2Authenticator directly, it's not even hitting the UWP OnActivated() function.

[2018-09-20 19:59] newky2k commented on #226
@zati-  Ok thanks

[2018-09-20 20:00] newky2k commented on #261
@pme442  thanks for coming back to me, i'll assign it to @moljac

[2018-09-21 10:54] pme442 commented on #261
Update: I got past the problem of it not hitting the UWP OnActivated() function -- I didn't realize that I had an 2 instances of the app installed on my pc (one must have been corrupted or something).  I uninstalled both and rebuilt/re-deployed and now it is hitting it and working as expected.
So, the result is that I am back to the "invalid_resource" error.  Which means that I DO need my custom a

[2018-09-23 16:39] hvaughan3 commented on #275
@samih7 What version of `Xamarin.Android.Support.CustomTabs` did you update to?

[2018-09-23 16:40] samih7 commented on #275
@hvaughan3 27.0.2.1

[2018-09-23 16:41] hvaughan3 commented on #275
@samih7 Awesome, thank you. Going to try it now.

[2018-09-24 05:51] ssm3ll commented on #287
@newky2k I still don't see OnReceiveError override method implementation here source/Core/Xamarin.Auth.XamarinIOS/PlatformSpecific/WebAuthenticatorController.UIWebView.UIWebViewDelegate.cs
But iOS implementation uses LoadFailed method to pass error using controller.authenticator.OnError source/Core/Xamarin.Auth.XamarinIOS/PlatformSpecific/WebAuthenticatorController.UIWebView.UIWebViewDelegate.cs

[2018-09-24 11:46] newky2k commented on #211
no response for two weeks, closing

[2018-09-24 11:46] #211 closed

[2018-09-24 11:51] newky2k commented on #213
no response for two weeks, closing

[2018-09-24 11:51] #213 closed

[2018-09-24 11:51] newky2k commented on #217
no repsonse for two weeks closing

[2018-09-24 11:51] #217 closed

[2018-09-24 11:52] newky2k commented on #218
no response for over two weeks, closing

[2018-09-24 11:52] #218 closed

[2018-09-24 11:53] newky2k commented on #222
no repsonse for three week, closing

[2018-09-24 11:53] #222 closed

[2018-09-24 11:54] newky2k commented on #224
no repsonse for two weeks, closing

[2018-09-24 11:54] #224 closed

[2018-09-24 11:57] newky2k commented on #227
no response for three weeks, closing

[2018-09-24 11:57] #227 closed

[2018-09-24 11:58] newky2k commented on #231
no response for over two weeks, closing

[2018-09-24 11:58] #231 closed

[2018-09-24 11:59] newky2k commented on #233
no response for over two weeks, closing

[2018-09-24 11:59] #233 closed

[2018-09-24 12:00] newky2k commented on #246
no response for over two weeks, closing

[2018-09-24 12:00] #246 closed

[2018-09-24 12:03] newky2k commented on #247
no response for two weeks,  closing

[2018-09-24 12:03] #247 closed

[2018-09-24 12:07] newky2k commented on #252
no response for over two weeks, closing

[2018-09-24 12:07] #252 closed

[2018-09-24 12:07] newky2k commented on #254
no repsonse for over two weeks, closing

[2018-09-24 12:07] #254 closed

[2018-09-24 12:08] newky2k commented on #259
no response for over two weeks, closing

[2018-09-24 12:08] #259 closed

[2018-09-24 12:09] newky2k commented on #267
no reponse for over two weeks, closing

[2018-09-24 12:09] #267 closed

[2018-09-24 12:10] newky2k commented on #275
Seems to be resolved, closing

[2018-09-24 12:10] #275 closed

[2018-09-24 12:11] newky2k commented on #273
no followup for two weeks, closing

[2018-09-24 12:11] #273 closed

[2018-09-24 12:11] newky2k commented on #277
no response for over two weeks, closing

[2018-09-24 12:11] #277 closed

[2018-09-24 12:12] #278 closed

[2018-09-24 12:12] newky2k commented on #283
no response for two weeks

[2018-09-24 12:12] #283 closed

[2018-09-24 12:13] newky2k commented on #284
no response for over two weeks, closing

[2018-09-24 12:13] #284 closed

[2018-09-24 12:14] newky2k commented on #287
@ssm3ll thanks for getting back to us, I'll assign this to @moljac to investigate further

[2018-09-24 12:15] newky2k commented on #289
no response for two weeks, closing

[2018-09-24 12:15] #289 closed

[2018-09-24 12:16] newky2k commented on #290
no response for over two weeks, closing

[2018-09-24 12:16] #290 closed

[2018-09-24 12:16] newky2k commented on #292
no response for two weeks, closing

[2018-09-24 12:16] #292 closed

[2018-09-24 12:17] newky2k commented on #304
no reponse for two weeks, closing

[2018-09-24 12:17] #304 closed

[2018-09-24 12:17] newky2k commented on #306
no response for two weeks closing

[2018-09-24 12:17] #306 closed

[2018-09-24 12:21] derekwheeler-tylertech commented on #275
So this bug isn't going to be fixed then?

[2018-09-24 12:52] specialtrevor commented on #304
Please re-open. I've already given a lot of information above. When I get chance to write a new app to show it I will, but 2 weeks at the end of summer isn't a very long time to have to wait for a response.

[2018-09-24 13:04] hvaughan3 commented on #275
@newky2k Not fixed. @samih7 was talking about a `MissingMethodException` but the OP posted about a **leaked ServiceConnection**.

[2018-09-26 00:28] xufeipyxis opened #321 "Where can I find the release log for v1.6?"
I'm currently using v1.5 and I'd like to have a check to see if there are any new features in v1.6 or bug fixes I'd like to include.

https://github.com/xamarin/Xamarin.Auth/blob/master/docs/details/change-log.md only has the update logs up to v1.5.0

[2018-09-26 10:51] dush88c commented on #248
You may have to whitelist the redirect_url with OAuth provider.

[2018-09-28 03:52] kiranbasvaraj commented on #273
There is No problem for me .
Problem will be there in xamarin if you close it .

Regards,
kiran

On Mon, 24 Sep 2018, 5:41 pm Dave Humphreys, <notifications@github.com>
wrote:

[2018-10-03 15:17] kensykora commented on #306
Hi @newky2k please re-open

[2018-10-03 19:29] newky2k commented on #320
@fekberg The issue with the Tostring() appears to be a mono issue, rather than a Xamarin.Auth issue.

I've assigned @moljac  to look into it for you

[2018-10-03 19:37] fekberg commented on #320
@newky2k No, doing ToString on a char[] is incorrect.

See here as well: https://stackoverflow.com/questions/1324009/net-c-sharp-convert-char-to-string

Try it out using either mono or roslyn. Should definitely return "System.Char[]" as a string and not the actual content.

[2018-10-04 19:57] jjallen37 commented on #204
I am also experiencing this issue, preventing Android from being production viable. We can only log in one user because the Presenter never forgets.

[2018-10-07 12:12] tipa opened #322 "OAuth2Authenticator crashes on Android using native UI"
### Version & Platform

- [ ] nuget version = 1.6.0.2
- [ ] component version = 27.0.2.1
- [ ] Xamarin.Android 9.0.0.20
- [ ] Targeting Android P

### Steps to reproduce

[code]

### Expected behaviour

The user can log into Google and grant the app permissions for Google Drive

### Actual behaviour

The app crashes:
[code]

Happens only for a few users, on devices like:
Galaxy A5(2016) - Android

[2018-10-08 16:54] newky2k commented on #322
@tipa  are you able to replicate this is the simulator with a similar config?  could you please send a sample project with all of the permissions etc configured to make it easier for us to replicate.

Regards

[2018-10-08 19:34] tipa commented on #322
No I cannot reproduce the crash in a simulator (got the stack trace from AppCenter), but wouldn't it be possible to add a `PackagesSupportingCustomTabs.ContainsKey("CANARY_PACKAGE")` here?
https://github.com/xamarin/Xamarin.Auth/blob/d592c51a6f91aa073f0c1be8a768c464aa6e62a7/source/Core/Xamarin.Auth.XamarinAndroid/UINativeNonIntegratedBrowsers/CustomTabsUtilities/PackageManagerHelper.cs#L202

[2018-10-09 15:27] tharanagaraj commented on #291
Is downgrading Xamarin.Auth to 1.5.x a temporary solution to this? Does that version cause the 'KeyStore was not initialized' and/or 'Uninitialized keystore' issue?

[2018-10-09 15:28] tharanagaraj commented on #297
Is downgrading Xamarin.Auth to 1.5.x the only temporary solution to this? Does that version cause the 'KeyStore was not initialized' and/or 'Uninitialized keystore' issue?

[2018-10-09 15:57] Umar3x commented on #297
For now yes, staying at 1.5 is the only solution ... waiting for update and news of @moljac

[2018-10-10 16:31] tharanagaraj commented on #297
1.5 still causes the 'KeyStore was not initialized' and/or 'Uninitialized keystore' issue.
Is manually deleting the app data a possible workaround, so that the keystore will be recreated and initialized correctly? We have users that are unable to login to our app.

[2018-10-10 18:37] Umar3x commented on #297
That's strange, I only have this issue with ~1.6.0. Yes imho you can erase app data, should also work with 1.6.0 ... I tried to find a way to erase data manually (as I found out that it was fixing the prob)  but I did not dig into it. If you find a way, would be glad if you share :)

[2018-10-10 22:06] tipa commented on #304
Having the same issue. It is easy and reliably reproducable. Please reopen,

[2018-10-10 22:17] tipa opened #323 "Cancelling Twitter login causes 401 and crashes Xamarin App"
# Xamarin.Auth Issue

### Version

-  nuget version = Xamarin.Auth: 1.6.0.2
- component version = Xamarin.Forms: 2.5.0.280555
- sample:
[code]
### Steps to reproduce

1. Trigger above code
2. On Twitter screen click 'Cancel'
3. Then click 'Return to ' button

Platform:
- Visual Studio version = 15.7.3 (Visual Studio 2017)
- Target Android version = 8.0 (API Level 26)
- Minimum Android version = 4.

[2018-10-15 15:51] kensykora opened #324 "Tapping "X" on Android CustomTab interface does not close window"
This is a re-submission of #306 which was closed due to inactivity for request for a reproducible code sample. I provided one after it was closed, but was never re-opened. This is still occurring in our app today and we need to identify a fix for it.

# Xamarin.Auth Issue

On 1.6.0.2 for Android, CustomTab is not closing when the user taps the "X" button to close the custom tab and navigate back.

[2018-10-16 01:33] cabauman commented on #202
Glad I found this issue. Thought I was the only one for a while. The temporary fix of setting NavigationCacheMode="Enabled" is good enough for now (thanks for that). I'll be following this thread for progress updates.

[2018-10-16 16:03] newky2k commented on #310
No response to request to attach the sample project to the issue, seem that they just responded to the email

[2018-10-16 16:03] #310 closed

[2018-10-16 16:04] newky2k commented on #311
no response for over two weeks, closing

[2018-10-16 16:04] #311 closed

[2018-10-16 16:04] newky2k commented on #314
no response after more than two weeks, closing

[2018-10-16 16:04] #314 closed

[2018-10-16 18:42] newky2k commented on #324
@kensykora thanks for resubmiting and providing a sample.  I will get @moljac to look into it for you

Regards

[2018-10-16 19:10] tipa commented on #323
Some more code:
[code]

I understand the callback url is a bit weird, but it's at least one that correctly sends me back to the app after the user authorized the app

[2018-10-16 19:59] newky2k commented on #323
@tipa  thanks for the update, i have assigned @moljac to investigate

[2018-10-17 14:20] csteeg opened #325 "UWPAccountStore uses username as filename"
# Xamarin.Auth Issue

If you store an Account with a Username that contains invalid path chars, an error occurs and nothing is saved.

### Version

- [ X] nuget version = 1.6.0.2
- [ ] component version =
- [ ] sample

### Steps to reproduce

1. CreateAccountStore() in UWP
2.Create an Account with username set to "asdf:/@!(&*#("
3.Save the account

Platform:

-	[] .NET version = any
-	[] mono vers

[2018-10-17 14:30] csteeg opened #327 "RFC: use DataContainer instead of individual files for storing accounts on UWP"
# Xamarin.Auth Issue

### Feature description

Storing individual files is error-prone. Using a datacontainer would be easier to maintain and less error-prone

[2018-10-17 18:54] newky2k commented on #325
@csteeg Is this likely situation in the real world?  Can you save an email address as the user?  Is it one specific character that causes the issue?

It maybe better to fail gracefully with an invalid username error, rather than striping out characters which could provide unexpected results.

Regards